
/******** Filter Results ***********/

.results #rhs .lng_content h1.pagination_text{display:none;}
.results #rhs .lng_content .result{margin-bottom:10px; background:#fff; height:130px; overflow:hidden;}
.results #rhs .lng_content .result .text{padding:13px 20px 2px; float:left; width:500px;}	
.results #rhs .lng_content .result .text.noImage {width:630px}
.results #rhs .lng_content .result img.thumb{float:right; width:130px;}
.results #rhs .lng_content .result h2{font-size:2.143em; color:#006335; text-transform:uppercase;}
.results #rhs .lng_content .result h2 a{text-decoration:none;}
.results #rhs .lng_content .result h2 a:hover{color:#333;}
.results #rhs .lng_content .result ul.categories{font-family:"Trebuchet MS", Arial, sans-serif; font-size:0.857em; margin-bottom:1em;}
.results #rhs .lng_content .result ul.categories li{float:left; font-weight:bold; text-transform:uppercase; padding:0 11px 0 0; color:#666;
	background:url(../images/cat-div.gif) right center no-repeat;}
.results #rhs .lng_content .result ul.categories li.last{background:none; padding-right:0;}
.results #rhs .lng_content .result ul.categories li a{color:#666; text-decoration:none;}
.results #rhs .lng_content .pagination{background:#fff; text-align:center; padding:6px 12px; margin-bottom:10px; position:relative;}
.results #rhs .lng_content .pagination a.view_more{padding-right:19px; background:url(../images/more-arrow.gif) right 4px no-repeat; cursor:pointer;}
.results #rhs .lng_content .pagination a.view_more:hover{background-position:right -29px;}
.results #rhs .lng_content .pagination a.view_all{position:absolute; right:12px; top:8px; font-size:0.857em; cursor:pointer;}
.results #rhs .lng_content .pagination a:hover{color:#333;}