
/******** Search Results ***********/

.results #rhs .lng_content .standard{height:auto; overflow:visible;}
.results #rhs .lng_content .standard .text{padding:13px 20px 1px; float:none; width:auto;}
.ie6 .results #rhs .lng_content .standard .text,
.ie7 .results #rhs .lng_content .standard .text{zoom:1;}