.sitemap #rhs .lng_content .panel{margin-bottom:20px;}
.sitemap #rhs .lng_content .panel h2{margin-bottom:0.65em;}
.sitemap #rhs .lng_content .panel .col_1{float:left; width:196px; margin-right:20px; display:inline;}
.sitemap #rhs .lng_content .panel .col_2{float:left; width:196px; margin-right:20px; display:inline;}
.sitemap #rhs .lng_content .panel .col_3{float:left; width:196px;}
.sitemap #rhs .lng_content .panel ul{}
.sitemap #rhs .lng_content .panel ul li{padding-left:0; background:none; margin-bottom:0.15em;}
.sitemap #rhs .lng_content .panel ul li a{text-decoration:none;}