html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, 
hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, figure, footer, header, 
hgroup, nav, section { display:block; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }


/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }
/* END RESET CSS */



body { font:14px Georgia, "Times New Roman", Times, serif; line-height:1.28;}
table { font-size:inherit; font:100%; }
select, input, textarea { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
 


/* 
 * minimal base styles 
 */


body, select, input, textarea { color:#333; }
h1,h2,h3,h4,h5,h6 { font-weight:normal; text-rendering: optimizeLegibility; }
html { -webkit-font-smoothing: antialiased; }
a:hover, a:active { outline: none; }
a, a:active, a:visited { color:#006335; }
a:hover { color:#333; text-decoration:none;}

ul { list-style-type:none; }
ol { margin-left:30px; list-style-type: decimal; }

small { font-size:100%; }
strong, th { font-weight: bold; }

td, td img { vertical-align:top; } 

sup{font-size:0.63em; vertical-align:super;}
h1 sup{font-size:0.3em;}
.ie6 sup,
.ie7 sup{position:relative; top:-0.4em;}

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
a:link { -webkit-tap-highlight-color: #FF5E99; } 
html { overflow-y: scroll; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }


/* 
 * Non-semantic helper classes 
 */

.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }
.hidden { display:none; visibility:hidden; } 
.visuallyhidden { position:absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clr{clear:both;}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }



 /* Primary Styles
    Author: 
 */
 
/* Webfont font names ref:
**********************************************
	font-family:"TradeGothicW01-BoldCn20_675334";
	font-family:"Trade Gothic W01 Roman";
	font-family:"SnellRoundhandW01-Bold";
*/
 
/* Site structure */
html,
body,
body > form {
   margin:0;
   padding:0;
   height:100%;
   background:#fff;
}
body > form{background:none;}
.ie6 html {overflow-y:hidden;}
.ie6 body {overflow-y:auto;}

#container{position:relative; min-height:100%; min-width:986px;}
.ie6 #container{height:100%; width: expression((document.body.clientWidth < 988)? "986px" : "auto");}
	
	#bg_container{}
	#bg_container img{display:none;}	
	#bg_container img.bg {
			min-height: 100%;		
			min-width: 100%; /* min-width: 1024px; */
			width: auto;     /* width: 100% */
			height: auto;
			position: fixed;		
			top: 60px;
			left: 0;
	}	
	#bg_container img#current_bg{ display:none; }
	.ie6 #bg_container img.bg{
		width: 100%;
		position:absolute;	
	}
	

#header{height:79px; width:100%; min-width:986px; background:#fff; position:fixed; z-index:1040; top:0; background:#fff; padding-top:1px;}
.ie6 #header{position:absolute; width: expression((document.body.clientWidth < 988)? "986px" : "auto");}
#main{padding:80px 0 55px;}
	#content{z-index:1010; position:relative; }	
	.ie6 #content{zoom:1;}
	#content.moire{background:url(../images/bg-overlay-tile.png) repeat;}
	#content.overlay{	
		background-color: #000000;
		background-color: rgba(0, 0, 0, 0.4);  /* FF3+, Saf3+, Opera 10.10+, Chrome, IE9 */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#66000000',EndColorStr='#66000000'); /* IE6–IE9 */
	}
	
#footer{height:55px; width:100%; background:#fff; position:absolute; bottom:0; background:#fff;}

/* Persistent styles */
	#logo{float:left; display:inline; margin-right:9px;}
	#nav{float:left; font-size:1.286em; text-transform:uppercase; line-height:1; padding-top:30px; font-family:"TradeGothicW01-BoldCn20_675334", Arial, sans-serif;}
		#nav li{float:left; display:inline; margin-right:15px;}
		#nav li a{text-decoration:none;}
		#nav li a:hover,
		#nav li a.active{color:#333;}
		
	.search_form{float:right; display:inline; margin-right:26px; padding-top:25px; _width:159px;}
		.search_form input.searchText{float:left; border:none; outline:none; width:120px; height:18px; line-height:18px; padding:4px 4px 3px 10px;
			font-size:12px; color:#ababab; font-family: "Trebuchet MS", sans-serif; 
			background:#f2f2f2;}	
		.search_form input.searchBtn{float:left; width:25px;}	
	
	#content{}
	#content h1{font-size:2.571em; margin-bottom:0.28em; font-family:"TradeGothicW01-BoldCn20_675334", Arial, sans-serif; text-transform:uppercase;
	letter-spacing:-1.2px; line-height:1.1;}
	#content h2{font-size:1.71em; font-family:"TradeGothicW01-BoldCn20_675334", Arial, sans-serif; text-transform:uppercase;}
	#content h3{font-size:1em; font-weight:bold; margin-bottom:1.286em;}
	#content p{margin-bottom:1.286em;}	
	#content ul{margin-bottom:1.286em;}
	#content ul li{padding-left:16px; background:url(../images/bullet.gif) left top no-repeat; background-position: 0em .6em; }
	
	
	#footer{font-size:0.786em; font-family:"Trade Gothic W01 Roman", "Trebuchet MS", sans-serif; z-index:9030;}
		#foot_nav{margin:5px 0 0 12px;}
		.ie6 #foot_nav,
		.ie7 #foot_nav,
		.ie8 #foot_nav{zoom:1;}
		#foot_nav li{float:left; padding:0 8px; line-height:20px; 
			background:url(../images/foot-div.gif) right center no-repeat; }
		#foot_nav li img{vertical-align:middle;}
		#foot_nav li.last{background:none; padding-right:0;}
		#foot_nav li a{color:#666; text-decoration:none;}
		#foot_nav li a:hover{color:#000;}
		
		#foot_overlay{position:absolute; right:0; top:-78px; z-index:9999;}
		
		#footer small{
			position:absolute; top:27px; left:0;
			display:block; clear:both; padding-top:4px; margin:0 0 0 20px; color:#666;}
			
#footer .littleCopy 
{position:absolute; top:27px; left:0;display:block; clear:both; padding-top:4px; margin:0 0 0 20px; color:#666;}

/* Slideshow */
	#slide_controls{display:none;}
		#prev_slide,
		#next_slide{position:absolute; width:30px; height:50px; text-indent:-9999px; overflow:hidden; outline:none; top:45%;
			background:url(../images/slide-arrows.gif) 0 0 no-repeat;}
		#prev_slide{left:0;}
		#next_slide{right:0; background-position:0 -50px;}
		
		#prev_slide:hover{background-position:-30px 0;}
		#next_slide:hover{background-position:-30px -50px;}
		
		
	#slide_pager{position:absolute; top:20px; left:20px;}
		#slide_pager a{float:left; width:10px; height:10px; display:inline; margin-right:5px; text-indent:-9999px; overflow:hidden;
			background:url(../images/slide-indicator.png) 0 0 no-repeat; }
		#slide_pager a.activeSlide{background-position:-10px 0;}
		
	#slide_content{padding-bottom:90px; min-height:490px; min-height:380px;}
	.ie6 #slide_content{height:380px;}
		#slide_content .slide{display:none; }
		#slide_content #current_slide{display:block;}		
		
		
	/* Slide content styling */	
	#slide_content .slide{}
	#slide_content .slide .panels{position:absolute; top:60%; left:0;}
		#slide_content .slide .panels .intro{height:105px; width:438px; padding:15px 20px; margin:0 5px 0 0; float:left; display:inline;
			background:#fff;}
		#slide_content .slide .panels .intro h1{color:#000; text-transform:none; font-weight:normal; margin-bottom:0; background:#fff;
			font-family:"SnellRoundhandW01-Bold", "Times New Roman", Times, serif; padding-bottom:5px;}
		#slide_content .slide .panels .intro p{margin-bottom:0; line-height:1.428;}
		#slide_content .slide .panels .teaser{height:125px; width:145px; padding:5px; margin:0 5px 0 0; float:left; display:inline; text-decoration:none;
			background:#fff;}
		#slide_content .slide .panels .teaser img{display:block; margin-bottom:6px; }
		#slide_content .slide .panels .teaser span{display:block; line-height:1.214; margin-bottom:0;  cursor:pointer;
			font-family:"Trebuchet MS", sans-serif; text-transform:uppercase; color:#006335; text-decoration:none;}		
		#slide_content .slide .panels .teaser span img{display:inline; vertical-align:middle; padding:2px 0 0 3px; margin-bottom:5px;}	
		.ie6 #slide_content .slide .panels .teaser span img,
		.ie7 #slide_content .slide .panels .teaser span img{padding-top:3px;}
		#slide_content .slide .panels .teaser:hover span{color:#333;}
		
		/* floaters */
		#slide_content .floater{position:absolute;}		
		#slide_content .floater img{
			background: transparent;
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#00FFFFFF,EndColorStr=#00FFFFFF)";	
			filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#00FFFFFF',EndColorStr='#00FFFFFF');			
		}	
	
	/* Individual slide styling */	
	#slide_content .homeslide_1 .floater{top:5%; right:21px;}
	#slide_content .homeslide_2 .floater{top:22%; right:52px;}		
		


/* Right-hand side common elements */
#rhs{float:right; width:700px;}

	#rhs .floatImgRight{float:right; margin:0 0 0 10px;}
	#rhs .floatImgLeft{float:left; margin:0 10px 0 0;}
	
	#rhs a.external{padding-right:10px; background:url(../images/icn-external.gif) right center no-repeat;}
	/*#rhs a.text_link{padding-right:19px; background:url(../images/arrow-right.gif) right 4px no-repeat;}*/
	#rhs a.text_link{padding-right:19px; background:url(../images/arrow-right.gif) right 4px no-repeat; white-space:nowrap; }
    .ie6 #rhs a.text_link,.ie7 #rhs a.text_link{zoom:1;}
	#rhs a.text_link:hover{background-position:right -29px;}

	#rhs .intro{width:700px; margin:38px 0 20px; background:#fff; overflow:hidden;}
	#rhs .intro_tight{margin-bottom:10px;}
		#rhs .intro .text{padding:12px 20px 2px;}
		#rhs .intro .img{float:left; width:480px;}	
		#rhs .intro p{line-height:1.428;}
		#rhs .intro img.thumb{float:right; width:190px;}		
		#rhs .intro .floatImgRight{float:right; margin:-5px 0 5px 10px;}
		#rhs .intro .nav_strip{margin-top:-0.5em;}
		#rhs .intro span.decorative{font-size:3em; float:left; line-height:1; margin:-1px 5px 0 0; display:inline;}
		
	#rhs .nav_strip{border-bottom:1px solid #e5e5e5; padding-bottom:1em; margin-bottom:1.2em; width:100%; overflow:hidden;}	
		#rhs .nav_strip ul.categories{font-family:"Trebuchet MS", sans-serif; font-size:0.857em; margin-bottom:0; float:left;}
		#rhs .nav_strip ul.categories li{float:left; font-weight:bold; text-transform:uppercase; padding:0 11px 0 0; color:#666;
			background:url(../images/cat-div.gif) right center no-repeat;}
		#rhs .nav_strip ul.categories li.last{background:none; padding-right:0;}
		#rhs .nav_strip ul.categories li a{text-decoration:none;}
		#rhs .nav_strip ul.categories li a:hover{color:#333;}		
		#rhs .nav_strip .prev_next{float:right; font-family:"Trebuchet MS", sans-serif; font-size:0.857em; font-weight:bold; text-transform:uppercase;}
		#rhs .nav_strip .prev_next a{color:#006335; float:left; display:inline; text-decoration:none;}
		#rhs .nav_strip .prev_next a:hover{color:#333;}
		#rhs .nav_strip .prev_next a.prev{padding-left:17px; margin-right:7px; background:url(../images/arrow-left.gif) left 2px no-repeat;}
		#rhs .nav_strip .prev_next a.next{padding-right:17px; margin-left:8px; background:url(../images/arrow-right.gif) right 2px no-repeat;}	
		
		.ie6 #rhs .nav_strip .prev_next a.prev,
		.ie7 #rhs .nav_strip .prev_next a.prev{ background-position:left 1px;}
		.ie6 #rhs .nav_strip .prev_next a.next,
		.ie7 #rhs .nav_strip .prev_next a.next{ background-position:right 1px;}
			
		#rhs .nav_strip .prev_next a.prev:hover{background-position:left -31px;}
		#rhs .nav_strip .prev_next a.next:hover{background-position:right -31px;}
		
		.ie6 #rhs .nav_strip .prev_next a.prev:hover,
		.ie7 #rhs .nav_strip .prev_next a.prev:hover{ background-position:left -32px;}
		.ie6 #rhs .nav_strip .prev_next a.next:hover,
		.ie7 #rhs .nav_strip .prev_next a.next:hover{ background-position:right -32px;}
		
		
	#rhs .page_functions{border-top:1px solid #e5e5e5; padding-top:1em; padding-bottom:18px; clear:both;}	
		#rhs .page_functions ul.functions{float:left; margin-bottom:0; font-size:0.785em;}
		#rhs .page_functions ul.functions li{float:left; padding-left:0; background:none; margin-right:15px; display:inline; height:25px; line-height:25px;}
		#rhs .page_functions ul.functions li a{padding-left:21px; text-decoration:none; cursor:pointer;
			background:url(../images/icn-functions.gif) left top no-repeat;  float:left; height: 21px;}
		#rhs .page_functions ul.functions li a:hover{color:#333;}
		#rhs .page_functions ul.functions li a.print{background-position:left 2px;}
		#rhs .page_functions ul.functions li a.pdf{background-position:left -48px;}		
		#rhs .page_functions a.go_back{float:right; padding-left:16px; background:url(../images/arrow-left.gif) left 6px no-repeat;
			 font-size:1.286em; text-transform:uppercase; color:#006335; text-decoration:none; font-family:"TradeGothicW01-BoldCn20_675334", sans-serif;}
		#rhs .page_functions a.go_back:hover{color:#333; background-position:left -27px;}	

	

/* Sub navigation */
#content .sub_nav{position:fixed; top:120px; left:0; font-family:"Trebuchet MS", sans-serif; font-weight:bold; max-width:200px;}
.ie6 #content .sub_nav{position:absolute; top:110px;}
	#content .sub_nav li{font-size:0.857em; text-transform:uppercase; clear:left; padding:0; background:none;}
	#content .sub_nav li a{float:left; padding: 5px 7px; margin-bottom:5px; background:#fff; text-decoration:none; outline:none;}
	#content .sub_nav li a:hover{background:#fff; color:#333;}
	#content .sub_nav li a.active,
	#content .sub_nav li a.active:hover{background:#006335; color:#fff; padding-left:12px;}
	
	/* static nav */
	#default.sub_nav{font-family: "TradeGothicW01-BoldCn20_675334", Arial, sans-serif; font-weight:normal;}
	#default.sub_nav li{font-size:1.286em;}
	#default.sub_nav li a{padding: 6px 11px;}
	#default.sub_nav li a.active,
	#default.sub_nav li a.active:hover{background:#006335; color:#fff; padding-left:16px;}
	
	/* calendar nav */
	#backnav.sub_nav{font-family: "TradeGothicW01-BoldCn20_675334", Arial, sans-serif; font-weight:normal; top:125px;}
	.ie6 #backnav.sub_nav{position:absolute; top:41px;}
	#backnav.sub_nav li{font-size:1.286em;}
	#backnav.sub_nav li a{padding: 6px 11px;}
	#backnav.sub_nav li a img{position:relative; top:-1px;}
	#backnav.sub_nav li a.active,
	#backnav.sub_nav li a.active:hover{background:#006335; color:#fff; padding-left:16px;}


/* Short Content Page Layout */
#rhs .std_content{padding:12px 20px 2px; margin-top:40px; margin-bottom:90px; background:#fff;}
#rhs .std_content:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ie6 #rhs .std_content,
.ie7 #rhs .std_content{zoom:1;}

	#rhs .std_content h1{padding-top:0.1em; margin-bottom:0.05em;}	
	#rhs .std_content h2{font-size:1.714em; color:#333; text-transform:uppercase;
		border-bottom:1px solid #e5e5e5; padding-bottom:0.15em; margin-bottom:0.75em;}
		

	#rhs #infoPage h1{font-size:1.714em; color:#333; text-transform:uppercase;
		border-bottom:1px solid #e5e5e5; padding-bottom:0.15em; margin-bottom:0.75em;}
		/*
	#rhs #infoPage h2{font-size:1em; color:#333; 
	     padding-bottom:0.15em; margin-bottom:0.25em;}
		*/
    #rhs .std_content .recipe_content h2, #rhs #infoPage h2
	{
	    font-family: Georgia,Times New Roman,Times,serif;
	    font-size:1em; 
	    font-weight:bold;
	    margin: 0 0 1.286em 0;
	    border-bottom: none;
	    color: #000;
	    padding: 0;
	    text-transform: none;
    }
		
		
		
	#rhs .std_content .floatImgRight{float:right; margin:0 -5px 0 10px;}
	#rhs .std_content .floatImgLeft{float:left;}	
	
	#rhs .std_content .watch_video{margin-bottom: 0.5em; margin-left:217px; clear:both;}
	#rhs .std_content .watch_video img.thumb{float:left; display:inline; margin-right:12px; margin-top:0.3em;}
    #rhs .std_content .watch_video p{float:left; width:250px;}
    #rhs .std_content .watch_video p.title{float:left; width:260px; margin-bottom:0.1em; font-size: 1.714em; text-transform: uppercase;
    font-family: "TradeGothicW01-BoldCn20_675334",Arial,sans-serif;}
    #rhs .std_content .watch_video p.title a{text-decoration:none;}    
    #rhs .std_content .watch_video p.text_arrow img{vertical-align:middle;}

	
	/* transcript styles */
	#video_embed{}
		#video_transcript{border-bottom:1px solid #e5e5e5; margin-bottom:1.286em; display:none;}
	#rhs .std_content p.transcript_link{text-align:right; border-bottom:1px solid #e5e5e5; padding-bottom:1em; margin:0.5em 0 0.6em;}
	#rhs .std_content p.video_link{text-align:left; }
	#rhs .std_content p.video_link a.text_link{padding:0 0 0 19px; background: url(../images/arrow-left.gif) 0 4px no-repeat;}
	#rhs .std_content p.video_link a.text_link:hover{background-position:0 -29px;}

	/* recipes */
	#rhs .std_content .recipe_content .ingredients{float:left; width:212px; padding-left:5px; padding-right:5px; display:inline;}
	#rhs .std_content .recipe_content .ingredients .alcohol{margin-top:-1em; margin-left:16px; color:#999;}		
	#rhs .std_content .recipe_content .directions{float:left; width:423px;}		


	/* registration */
	.registration #rhs .std_content h1{margin-bottom:0.75em;}
	.registration #rhs .std_content h1.underline{padding-bottom:0.2em; margin-bottom:0.45em; border-bottom:1px solid #e5e5e5;}
	.registration #rhs .std_content p.mandatory{position:relative; text-align:right; margin:-3.5em 0 2.5em; font-size:0.857em; color:#777;}
	
	/* functional */
	.functional #rhs .std_content h3{margin-bottom:0.25em;}


/* Long Content Page Layout */
#rhs .lng_content{float:right; display:inline; width:670px; margin-right:10px; padding-bottom:90px;}
#rhs .lng_content h3{margin-bottom:0.15em;}

	/* Long Content panels */
	
	/* Default */
	#rhs .lng_content .panel{margin-bottom:10px; background:#fff; overflow:hidden;}
	#rhs .lng_content .panel .text{padding:16px 20px 2px 20px;}
	#rhs .lng_content .panel .col_1{float:left; width:284px;}
	#rhs .lng_content .panel .col_2{float:right; width:315px;}
	
	#rhs .lng_content .panel h2{font-size:1.714em; color:#333; text-transform:uppercase;
		border-bottom:1px solid #e5e5e5; padding-bottom:0.15em; margin-bottom:0.25em;}			
	#rhs .lng_content .panel h2 a{text-decoration:none; color:#006335;}
	#rhs .lng_content .panel h2 a:hover{color:#333;}
	
	#rhs .lng_content .panel{}
	#rhs .lng_content .panel .year{clear:both;}
	#rhs .lng_content .panel .year p{float:right; width:525px;}
	#rhs .lng_content .panel .year p.date{float:left; width:95px; display:inline; margin-right:10px;
		font-family: "TradeGothicW01-BoldCn20_675334", Arial, sans-serif; font-size:1.714em; color:#006335; }
	
	/* About & Collection */
	.about #rhs .lng_content .panel h2{margin-bottom:0.75em;}
	.about #rhs .lng_content .collection{background-position:right bottom; background-repeat:no-repeat;}
	.about #rhs .lng_content .collection .text{padding:10px 0 2px 20px; float:left; width:530px;}
	.about #rhs .lng_content .collection h2{font-size:2.143em; padding-bottom:0.05em; margin-bottom:0.4em;}

	/* Calendar */
	.calendar #rhs .lng_content{width:680px; margin-right:0;}
	.calendar #rhs .lng_content .panel{width:316px; height:70px; padding:7px; float:left; display:inline; margin-right:10px;
		font-family:"Trebuchet MS", Arial, sans-serif; font-size:1.071em;}
	.calendar #rhs .lng_content a.panel{text-decoration:none;}
	.calendar #rhs .lng_content .panel .date{float:left; width:58px; height:50px; margin-top:10px; border-right:1px solid #ccc;
		color:#666; text-align:center; text-transform:uppercase;}
		#calendar.lng_content .panel .date .month{display:block; line-height:1; font-size:1.2em; margin-top:-2px;}
		#calendar.lng_content .panel .date .day{display:block; line-height:1; font-size:2.33em;}
	.calendar #rhs .lng_content .panel .text{float:left; width:134px; display:inline; margin:7px 0 0 10px; padding:0;
		text-transform:uppercase; line-height:1.2;}
	.calendar #rhs .lng_content .panel .text.noimage {width:244px;}
	.calendar #rhs .lng_content .panel .text a{text-decoration:none;}
	.calendar #rhs .lng_content .panel .text a:hover{color:#333;}	
	.calendar #rhs lng_content .panel .text a img {display: inline; margin-bottom:5px; padding: 2px 0 0 0; vertical-align: middle;}
	.ie6 .calendar #rhs .lng_content .panel .text a img,
	.ie7 .calendar #rhs .lng_content .panel .text a img{padding-top:3px;}
	.calendar #rhs .lng_content .panel .thumb{float:right;}
	
	/* VIP Offer */	
	.vip #rhs .intro h1{width:100%; height:150px; background-repeat:no-repeat; text-indent:-9999px; overflow:hidden;}
	.vip #rhs .intro p{line-height:1.5;}
	
	.vip #rhs .lng_content .panel{}	
	.vip #rhs .lng_content .panel .text{padding:11px 20px 2px; float:left; width:490px;}
	.vip #rhs .lng_content .panel img.thumb{float:right; width:130px; display:inline; margin-right:10px; }
	
	.vip #rhs .lng_content .panel h2{font-size:2.4em; border-bottom:0; padding-bottom:0; margin-bottom:0;}
	.vip #rhs .nav_strip{padding-bottom:0; border-bottom:none; margin-bottom:0.6em;}	
	

	/* Filter results */
	.results #rhs .lng_content h1.pagination_text{display:none;}
	.results #rhs .lng_content .result{margin-bottom:10px; background:#fff; height:130px; overflow:hidden;}
	.results #rhs .lng_content .result .text{padding:13px 20px 2px; float:left; width:500px;}	
	.results #rhs .lng_content .result .text.noImage {width:630px}
	
	.results #rhs .lng_content .result img.thumb{float:right; width:130px;}
	
	.results #rhs .lng_content .result h2{font-size:2.143em; color:#006335; text-transform:uppercase;}
	.results #rhs .lng_content .result h2 a{text-decoration:none;}
	.results #rhs .lng_content .result h2 a:hover{color:#333;}
	.results #rhs .lng_content .result ul.categories{font-family:"Trebuchet MS", Arial, sans-serif; font-size:0.857em; margin-bottom:1em;}
	.results #rhs .lng_content .result ul.categories li{float:left; font-weight:bold; text-transform:uppercase; padding:0 11px 0 0; color:#666;
		background:url(../images/cat-div.gif) right center no-repeat;}
	.results #rhs .lng_content .result ul.categories li.last{background:none; padding-right:0;}
	.results #rhs .lng_content .result ul.categories li a{color:#666; text-decoration:none;}
	
	.results #rhs .lng_content .pagination{background:#fff; text-align:center; padding:6px 12px; margin-bottom:10px; position:relative;}
	.results #rhs .lng_content .pagination a.view_more{padding-right:19px; background:url(../images/more-arrow.gif) right 4px no-repeat; cursor:pointer;}
	.results #rhs .lng_content .pagination a.view_more:hover{background-position:right -29px;}
	.results #rhs .lng_content .pagination a.view_all{position:absolute; right:12px; top:8px; font-size:0.857em; cursor:pointer;}
	.results #rhs .lng_content .pagination a:hover{color:#333;}
	
	
	/* Search results (for 'non-filtered' results) */
	.results #rhs .lng_content .standard{height:auto; overflow:visible;}
	.results #rhs .lng_content .standard .text{padding:13px 20px 1px; float:none; width:auto;}
	
	.ie6 .results #rhs .lng_content .standard .text,
    .ie7 .results #rhs .lng_content .standard .text{zoom:1;}
	
	
	/* Sitemap */
	.sitemap #rhs .lng_content .panel{margin-bottom:20px;}
	.sitemap #rhs .lng_content .panel h2{margin-bottom:0.65em;}
	.sitemap #rhs .lng_content .panel .col_1{float:left; width:196px; margin-right:20px; display:inline;}
	.sitemap #rhs .lng_content .panel .col_2{float:left; width:196px; margin-right:20px; display:inline;}
	.sitemap #rhs .lng_content .panel .col_3{float:left; width:196px;}
	.sitemap #rhs .lng_content .panel ul{}
	.sitemap #rhs .lng_content .panel ul li{padding-left:0; background:none; margin-bottom:0.15em;}
	.sitemap #rhs .lng_content .panel ul li a{text-decoration:none;}
	
		
/* Generic form styles */
input.inputText{font:14px Georgia, "Times New Roman", Times, serif; line-height:1.28; color:#999; padding:6px 14px;
border-top:1px solid #ccc; border-left:1px solid #ebebeb; border-right:1px solid #ebebeb; border-bottom:1px solid #f2f2f2;}
input.inputCheck{border-top:1px solid #ccc; border-left:1px solid #ebebeb; border-right:1px solid #ebebeb; border-bottom:1px solid #f2f2f2;}
.ie6 input.inputCheck,
.ie7 input.inputCheck,
.ie8 input.inputCheck{border-style:none !important;}
select,
option{font:14px Georgia, "Times New Roman", Times, serif; line-height:1.28; color:#333; }
select{border-top:1px solid #ccc; border-left:1px solid #ebebeb; border-right:1px solid #ebebeb; border-bottom:1px solid #f2f2f2; padding:6px 8px 6px 10px;}
input.inputBtn{margin:1.5em 0 1em;}


/* Registration form styles */
.reg_form{}

.reg_form .group{display:block; border-bottom:1px solid #e5e5e5; margin-bottom:1.5em;}
.ie6 .reg_form .group{padding-top:0.2em;}
.reg_form .clr{display:block; padding-bottom:1em; height:0; line-height:0;}
.reg_form label.input{float:left; width:142px; display:inline; margin-right:12px; text-align:right;}
.reg_form label.inputLeft{float:left; width:122px; display:inline; text-align:left;}
.reg_form label.inputLong{float:left; width:440px; display:inline; text-align:left;}

.reg_form input.inputText{font:14px Georgia, "Times New Roman", Times, serif; line-height:1.2; color:#999; padding:3px 8px 4px; margin-top:-0.2em;
border-top:1px solid #c2c2c2; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; border-bottom:1px solid #fbfbfb; background-color:#f2f2f2;}
.reg_form input.inputCheck{border-top:1px solid #c2c2c2; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; border-bottom:1px solid #fbfbfb; margin-top:-0.1em;}
.reg_form input.inputRadio{margin-top:-0.3em;}
.reg_form select,
.reg_form option{font:14px Georgia, "Times New Roman", Times, serif; line-height:1.28; color:#333; background-color:#f2f2f2;}
.reg_form select{border-top:1px solid #c2c2c2; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; border-bottom:1px solid #fbfbfb; padding:2px 3px 2px 6px;
margin-top:-0.2em;}

.reg_form .buttonWrapper{text-align:right; margin:1.5em 0 1em;}
.reg_form .buttonWrapper .prevbutton{float:left;}
.reg_form .nextbutton,
.reg_form .prevbutton{cursor:pointer;}

.reg_form input.warning,
.reg_form select.warning{border:1px solid red;}
.reg_form input[type="radio"].warning{border:none;}
.reg_form span.warning3{border:1px solid red; padding:3px;}
.reg_form label.warning{color:red; display:block; margin-left:154px; margin-bottom:0.5em;}
.reg_form span.warning{color:red; display:block; margin-left:154px; margin-bottom:0.5em;}
.reg_form span.warning2{color:red; margin-left:154px; margin-bottom:0.5em;}

.reg_form #sf3 label.warning{margin-left:122px;}
.reg_form #sf3 fieldset.group label.warning{margin-left:0; margin-right:20px; text-align:right;}
.reg_form #sf3 p{color:#666;}

	/* individual field styling */
	.reg_form .inputTitle{width:65px; display:inline; margin-right:10px; float:left;}
	.reg_form .inputFirstname{width:135px; display:inline; margin-right:10px; float:left;}
	.reg_form .inputLastname{width:135px; float:left;}
	
	.reg_form .inputDay,
	.reg_form .inputMonth{width:29px; display:inline; margin-right:10px; float:left; text-align:center;}
	.reg_form .inputYear{width:44px; float:left; text-align:center;}
	
	.reg_form .inputAddress1,
	.reg_form .inputAddress2{width:136px; display:inline; margin-right:10px; float:left;}
	.reg_form .inputTown{width:136px; float:left;}
	.reg_form .inputPostcode{width:136px; display:inline; float:left; margin-left:154px; margin-right:10px;}
	.reg_form .inputCountry{width:136px; float:left;}
	
	.reg_form label.checkbox{display:inline; float:left; margin-left:154px;}
	
	.reg_form .inputEmail{width:210px; display:inline; margin-right:10px; float:left;}
	.reg_form .inputConfirmEmail{width:210px; float:left;}
	
	.reg_form .inputMobile{width:210px;}
	
	.reg_form .selectGinis,
	.reg_form .selectAsforgin{width:536px;}
	
	.ie6 .reg_form .selectGinis,
	.ie6 .reg_form .selectAsforgin{width:530px;}
	
	.reg_form label.floatCheck{float:left; display:inline; padding-right:1.5em; margin-right:16px; position:relative; text-align:right;}
	.reg_form label.floatCheck input.inputCheck{position:absolute; top:0.35em; right:0;}
	.reg_form .HearAboutGordons {float:right; }
    .errorMobileMessage {color:Red;float:right;padding-right:19px;}

/* Search form styles */
.search_form{padding:20px 15px;}
	.search_form label{float:left; width:102px; margin-top:0.4em;}
	.search_form input.inputText{font:14px Georgia, "Times New Roman", Times, serif; line-height:1.2; color:#333; padding:5px 8px 6px; margin:0; width:436px;
	border-top:1px solid #c2c2c2; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; border-bottom:1px solid #fbfbfb; background-color:#f2f2f2;
	float:left;}
	.search_form input.inputBtn{margin:0; float:right;}

    /* floaters */
    #floater{position:absolute; top:170px; left:4%;}
    .registration #floater{top:170px; left:4%;}

/* 
 * print styles
 * inlined to avoid required HTTP connection
 */
@media print {
	* {text-shadow: none; }
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }  
	img { page-break-inside: avoid; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3{ page-break-after: avoid; }
	
	#nav,
	#search_form,
	#bg_container,
	#slide_controls,
	#slide_content .floater,
	#content .sub_nav,
	#rhs .page_functions,
	#rhs .nav_strip .prev_next,
	#foot_nav li{display:none !important;}  
	
	#content.moire{background:none;}
	
	#header{z-index:1020; background:none;}
	#logo{float:none; position:absolute; right:0; top:14px; z-index:2000;}
	#main{padding:10px 0 55px;}
	#rhs{width:700px; float:none;}
	#rhs .intro{ margin-top:0;}
	#rhs .std_content{margin:0 !important;}
	#rhs .lng_content{margin:0 !important; float:left;}
	#footer{border-top: 1px solid #E5E5E5;}
	#foot_nav li:first-child{display:inline !important; background:none;}
	#footer small{top:6px; left:100px;}
	
	#rhs .std_content h1{padding-top:0;}
	h1{color:#006335 !important; letter-spacing:normal !important; font-family:sans-serif !important;}
	h2{letter-spacing:normal !important; font-family:sans-serif !important;}
	#video_embed iframe,#lb_video_embed iframe{display:none;}

}


/*
 * Media queries for responsive design
 */

@media all and (orientation:portrait) { 
  /* Style adjustments for portrait mode goes here */
  
}

@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
  
}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  
  
  /* Prevent iOS, WinMobile from adjusting font size */
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } 
}

