
/******** Print Media Styles ***********/


@media print {
	* {text-shadow: none; }
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }  
	img { page-break-inside: avoid; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3{ page-break-after: avoid; }
	
	#nav,
	#search_form,
	#bg_container,
	#slide_controls,
	#slide_content .floater,
	#content .sub_nav,
	#rhs .page_functions,
	#rhs .nav_strip .prev_next,
	#foot_nav li{display:none !important;}  
	
	#content.moire{background:none;}
	
	#header{z-index:1020; background:none;}
	#logo{float:none; position:absolute; right:0; top:14px; z-index:2000;}
	#main{padding:10px 0 55px;}
	#rhs{width:700px; float:none;}
	#rhs .intro{ margin-top:0;}
	#rhs .std_content{margin:0 !important;}
	#rhs .lng_content{margin:0 !important; float:left;}
	#footer{border-top: 1px solid #E5E5E5;}
	#foot_nav li:first-child{display:inline !important; background:none;}
	#footer small{top:6px; left:100px;}
	
	#rhs .std_content h1{padding-top:0;}
	h1{color:#006335 !important; letter-spacing:normal !important; font-family:sans-serif !important;}
	h2{letter-spacing:normal !important; font-family:sans-serif !important;}
	#video_embed iframe,#lb_video_embed iframe{display:none;}

}
