/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9000; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%; top:80px !important;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:hidden;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

/* 
    ColorBox example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/

#cboxOverlay
{
    background:#111;
    opacity:0.4 !important;
    filter: alpha(opacity=40) !important;
    -moz-opacity:0.4 !important;
    -khtml-opacity: 0.4 !important;
}
#cboxLoadedContent{margin-bottom:0;}
#colorbox{z-index:15000;}

/* Video Lightbox */
#video-container{height:432px; padding:0; background:#fff;}
#video-container .closeWrap{height:30px;}
#video-container .closeWrap #cboxClose{float:right; width:30px; height:30px; text-indent:-9999px; overflow:hidden;
	background:url(../../images/lb-close.gif) 0 0 no-repeat; }
#video-container #lb_video_embed{height:372px; margin:0 30px; }
	#lb_video_transcript{height:372px; overflow:auto; display:none;}

#video-container h3{font-size:1em; font-weight:bold; margin-bottom:1.286em;}
#video-container p{margin-bottom: 1.286em;}
#video-container p.transcript_link{text-align:right; margin-bottom:0; margin-right:30px; padding-top:0.3em; }
#video-container a.text_link{padding-right:19px; background:url(../../images/arrow-right.gif) right 4px no-repeat;}
#video-container a.text_link:hover{background-position:right -29px;}
#video-container p.video_link a.text_link{padding:0 0 0 19px; background: url(../../images/arrow-left.gif) 0 4px no-repeat;}
#video-container p.video_link a.text_link:hover{background-position:0 -29px;}


/* Gateway page */
#gate-wrapper{ width:600px; height:550px; margin-top:70px; }
#gate-container{    
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
	/*border:5px solid #ddd;*/
}

#gate-container{text-align:center;}
#gate-container a{ color:#666; }
#gate-container h1{font-size:2.571em; margin-bottom:0.35em; font-family:"TradeGothicW01-BoldCn20 675334", sans-serif; text-transform:uppercase; padding-bottom:0.28em;
border-bottom:1px solid #e5e5e5;}
#gate-container p{margin-bottom:1.286em;}

#gate-container .std_form{width:300px; padding:6px 20px 14px; margin:0 auto 1.286em; background:#f2f2f2;}
#gate-container .std_form label{display:block; margin:0.75em 0 0.35em;}
#gate-container .std_form select{width:230px;}
#gate-container .std_form .date_field{ padding-left:35px;}
	#gate-container .std_form .date_field .inputText{margin-left:auto; margin-right:auto; text-align:center;}
	#gate-container .std_form #day{float:left; display:inline; margin-right:10px; width:32px;}
	#gate-container .std_form #month{float:left; display:inline; margin-right:10px; width:36px;}
	#gate-container .std_form #year{float:left; display:inline; width:52px;}

#gate-container .rememberDetails{text-align:left; font-size:0.714em; padding-left:59px;}
#gate-container .rememberDetails label{}
#gate-container .rememberDetails label input.inputCheck{float:left; display:inline; margin-right:10px; _margin-right:5px; }
#gate-container .rememberDetails span{color:#666;}
#gate-container .rememberDetails .rememberText{color:#000; line-height:2.0em;}
#gate-container .rememberDetails .rememberText a {color:#000;}

#gate-container .gatedenied {color: red; margin-bottom:1em;}

#gate-container .disclaimer{ color:#666; padding:1em 0 0; font-size:0.857em;} /* border-top:1px solid #e5e5e5; */