body{ height:100%; overflow: hidden; margin: 0;}
.nojs{display:block;position:absolute;top:0;left:0;width:100%;height:100%;
background-color: #000000;
background-color: rgba(0, 0, 0, 1);  /* FF3+, Saf3+, Opera 10.10+, Chrome, IE9 */
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#66000000',EndColorStr='#66000000'); /* IE6–IE9 */
z-index: 5000;}
.nojs-content{display:block;position:absolute;top:37%;left:50%; margin-left:-200px; width:400px; text-align: center;
background-color: #fff; color: #333;  padding: 10px 20px 5px;}
.nojs-content h1{font-size:2.571em; margin-bottom:0.35em; font-family:"Trade Gothic W01 Bold Cn 20", sans-serif; text-transform:uppercase; padding-bottom:0.28em;
border-bottom:1px solid #e5e5e5;}
.nojs-content p{margin-bottom:1.28em;}
