<div id="gate-wrapper">
    <div id="gate-container">
        <h1>
            Thanks for dropping in</h1>
        <p>
            Before we begin, we just need to check you're of legal drinking age.<br />
            It's part of our commitment to responsible drinking.</p>
        <script type="text/javascript">
            $.msg = function (text, style, countdown) {
                // remove any existing messages if they exist before creating new one
                $('.gatedenied').remove();

                // regular message
                if (typeof (countdown) == "undefined") {
                    style = style || 'gatedenied';
                    $('<div>')
		  .attr('class', style)
		  .html(text)
		  .insertBefore($('.disclaimer'))
		  .fadeIn('slow')
		  .animate({ opacity: 0.99 }, 3000)
		  .fadeOut('slow', function () {
		      $(this).remove();
		  });

                    // countdown timer
                } else {

                    style = style || 'gatedenied';
                    $('<div>')
		  .attr('class', style)
		  .html(text + ' <span class="seconds">' + countdown + '</span> seconds...')
		  .insertBefore($('.disclaimer'))
		  .fadeIn('slow')
		  .animate({ opacity: 0.99 }, 3000);


                    function countItDown() {
                        if (i <= countdown) {
                            $('.gatedenied > .seconds').text(countdown - i);
                            i++;
                        } else {
                            clearInterval(countTimerID);
                            top.location = "http://www.drinkaware.co.uk/about-us/why-am-i-here";
                            $('.gatedenied').remove();
                        }
                    }

                    var i = 1;
                    var countTimerID = setInterval(countItDown, 1000);

                }
            };
        </script>
        <!-- BEGIN COOKIE SCRIPT -->
        <script type="text/javascript">

			$(function () {
                var counter = 0;
                var inputId;

                $('input').each(function () {

                    inputId = $(this).attr('id');

                    if (inputId == "day" || inputId == "month" || inputId == "year") {
                        $(this).keyup(function () {
                            if ($(this).val().length === $(this).attr('maxlength')) { 
                                $(this).next().focus();
                            }
                        });
                    }
                });

            });

            $("#year").keyup(function () {

                if ($(this).val().length == $(this).attr('maxlength')) {
                    $('#imggateway').focus();
                }

            });  
			
			
            $("#gate-box").submit(function () {
                var day = $("#day").val();
                var month = $("#month").val();
                var year = $("#year").val();
                var age = 18;
                switch ($('#country').val()) {
                    case "0": age = -1; break;
                    case "AF": age = 0; break;
                    case "AZ": age = 0; break;
                    case "BD": age = 0; break;
                    case "BN": age = 0; break;
                    case "CF": age = 0; break;
                    case "EG": age = 0; break;
                    case "ET": age = 0; break;
                    case "FI": age = 0; break;
                    case "FR": age = 0; break;
                    case "IS": age = 0; break;
                    case "IR": age = 0; break;
                    case "IQ": age = 0; break;
                    case "JO": age = 0; break;
                    case "LA": age = 0; break;
                    case "KZ": age = 0; break;
                    case "KW": age = 0; break;
                    case "KG": age = 0; break;
                    case "LY": age = 0; break;
                    case "NP": age = 0; break;
                    case "NO": age = 0; break;
                    case "PK": age = 0; break;
                    case "SA": age = 0; break;
                    case "RU": age = 0; break;
                    case "SD": age = 0; break;
                    case "SE": age = 0; break;
                    case "SY": age = 0; break;
                    case "TJ": age = 0; break;
                    case "TM": age = 0; break;
                    case "UZ": age = 0; break;
                    case "YE": age = 0; break;
                    case "MZ": age = 18; break;
                    case "NA": age = 18; break;
                    case "ST": age = 0; break;
					case "TR": age = 0; break;
                    case "CA": age = 19; break;
                    case "KP": age = 19; break;
                    case "KR": age = 19; break;
                    case "PY": age = 20; break;
                    case "JP": age = 20; break;
                    case "BH": age = 21; break;
                    case "HN": age = 21; break;
                    case "ID": age = 21; break;
                    case "OM": age = 21; break;
                    case "PW": age = 21; break;
                    case "WS": age = 21; break;
                    case "SB": age = 21; break;
                    case "AE": age = 21; break;
                    case "US": age = 21; break;
                    case "GE": age = 21; break;
                    case "FM": age = 21; break;
                    case "LK": age = 21; break;
                    case "IN": age = 25; break;
                    default: age = 18; break;
                }

                var mydate = new Date();
                mydate.setFullYear(year, month - 1, day);

                var currdate = new Date();
                currdate.setFullYear(currdate.getFullYear() - age);

                function isValidDate(day, month, year) {
                    var dteDate;
                    dteDate = new Date(year, month, day);
                    return ((day == dteDate.getDate()) && (month == dteDate.getMonth()) && (year == dteDate.getFullYear()));
                }

                if (!(isValidDate(day, month - 1, year))) {
                    $.msg("Please enter a valid date");
                } else if ((currdate - mydate) < 0) {
                    $.msg("Sorry, you must be at least " + age + " to enter.<br /> Re-directing you in", null, 5);
                    return false;
                } else if (age == 0) {
                    $.msg("Sorry, we are unable to allow you access to our web site.");
                } else if (age == -1) {
                    $.msg("Sorry, we are unable to allow you access to our web site. Please select country.");
                } else if ((currdate - mydate) >= 0) {
                    $.colorbox.close();

                    // re-enable page content and nav
                    var $theContent = $('#content');

                    $('#nav, #search_form').show();
                    $('#content > *').show();
                    $theContent.height('auto');

                    var headfootHeight = $('#header').outerHeight() + $('#footer').outerHeight();
                    var innerHeight = $(window).height() - headfootHeight;

                    if ($theContent.height() < innerHeight) $theContent.height(innerHeight);

                    // jog container height ie6
                    if ($.browser.msie && $.browser.version.substr(0, 1) < 7) {
                        $('#container').css({ 'overflow-y': 'hidden' });

                        var containerHeight = $('#content').height() + headfootHeight;
                        if (containerHeight >= $(window).height()) {
                            $('#container').css('height', containerHeight);
                        } else {
                            $('#container').css('height', $(window).height());
                        }
                    }


                    $('#nav, #search_form, #content')
			.css({ opacity: 1 })
			.each(function () {
			    if ($.browser.msie) this.style.removeAttribute('filter');
			});

                    userHasPassedThegateway();

                    createCookie('diageoagecheck', 'true', 0);

                    // extend cookie only if remember checkbox is checked
                    if ($('#remember').is(':checked')) {
                        createCookie('diageoagecheck', 'true', 1000);
                    }

                }
                return false;
            });

            function userHasPassedThegateway() {
                // User logged into Age gateway
                $("#gatewayBGImage").hide();
                $("#bg_container").show();
                $("#container").css('position', 'relative');

                if (location.pathname != "../index.html") {
                    location.reload(true);
                }

                // Once use logs in resume carousel
                $('#bg_container').cycle('resume');

                // Show scrollbar
                $("body, html").css("overflow", "auto");
            }

        </script>
        <!-- END COOKIE SCRIPT -->
        <form method="post" id="gate-box" class="std_form">
        <fieldset>
            <label for="country">
                Where are you?</label>
            <select name="items[country]" id="country" class="gate-boxselect" tabindex="1">
                <option value="AF">Afghanistan </option>
                <option value="AL">Albania </option>
                <option value="DZ">Algeria </option>
                <option value="AD">Andorra </option>
                <option value="AO">Angola </option>
                <option value="AG">Antigua and Barbuda </option>
                <option value="AR">Argentina </option>
                <option value="AM">Armenia </option>
                <option value="AU">Australia </option>
                <option value="AT">Austria </option>
                <option value="AZ">Azerbaijan </option>
                <option value="BS">Bahamas </option>
                <option value="BH">Bahrain </option>
                <option value="BD">Bangladesh </option>
                <option value="BB">Barbados </option>
                <option value="BY">Belarus </option>
                <option value="BE">Belgium </option>
                <option value="BZ">Belize </option>
                <option value="BJ">Benin </option>
                <option value="BT">Bhutan </option>
                <option value="BO">Bolivia </option>
                <option value="BA">Bosnia and Herzegowina </option>
                <option value="BW">Botswana </option>
                <option value="BR">Brazil </option>
                <option value="BN">Brunei Darussalam </option>
                <option value="BG">Bulgaria </option>
                <option value="BF">Burkina Faso </option>
                <option value="BI">Burundi </option>
                <option value="KH">Cambodia </option>
                <option value="CM">Cameroon </option>
                <option value="CA">Canada </option>
                <option value="CV">Cape Verde </option>
                <option value="CF">Central African Republic </option>
                <option value="TD">Chad </option>
                <option value="CL">Chile </option>
                <option value="CN">China </option>
                <option value="CO">Colombia </option>
                <option value="KM">Comoros </option>
                <option value="CG">Congo </option>
                <option value="CK">Cook Islands </option>
                <option value="CR">Costa Rica </option>
                <option value="CI">Cote d'Ivoire </option>
                <option value="HR">Croatia </option>
                <option value="CU">Cuba </option>
                <option value="CY">Cyprus </option>
                <option value="CZ">Czech Republic </option>
                <option value="CD">DR Congo </option>
                <option value="DK">Denmark </option>
                <option value="DJ">Djibouti </option>
                <option value="DM">Dominica </option>
                <option value="DO">Dominican Republic </option>
                <option value="TP">East Timor </option>
                <option value="EC">Ecuador </option>
                <option value="EG">Egypt </option>
                <option value="SV">El Salvador </option>
                <option value="GQ">Equatorial Guinea </option>
                <option value="ER">Eritrea </option>
                <option value="EE">Estonia </option>
                <option value="ET">Ethiopia </option>
                <option value="FJ">Fiji </option>
                <option value="FI">Finland </option>
                <option value="FR">France </option>
                <option value="GA">Gabon </option>
                <option value="GM">Gambia </option>
                <option value="GE">Georgia </option>
                <option value="DE">Germany </option>
                <option value="GH">Ghana </option>
                <option value="GR">Greece </option>
                <option value="GD">Grenada </option>
                <option value="GT">Guatemala </option>
                <option value="GN">Guinea </option>
                <option value="GW">Guinea-Bissau </option>
                <option value="GY">Guyana </option>
                <option value="HT">Haiti </option>
                <option value="HN">Honduras </option>
                <option value="HK">Hong Kong </option>
                <option value="HU">Hungary </option>
                <option value="IS">Iceland </option>
                <option value="IN">India </option>
                <option value="ID">Indonesia </option>
                <option value="IR">Iran </option>
                <option value="IQ">Iraq </option>
                <option value="IE">Ireland </option>
                <option value="IL">Israel </option>
                <option value="IT">Italy </option>
                <option value="JM">Jamaica </option>
                <option value="JP">Japan </option>
                <option value="JO">Jordan </option>
                <option value="KZ">Kazakhstan </option>
                <option value="KE">Kenya </option>
                <option value="KI">Kiribati </option>
                <option value="KW">Kuwait </option>
                <option value="KG">Kyrgyzstan </option>
                <option value="LA">Lao PDR </option>
                <option value="LV">Latvia </option>
                <option value="LB">Lebanon </option>
                <option value="LS">Lesotho </option>
                <option value="LR">Liberia </option>
                <option value="LY">Libya </option>
                <option value="LI">Liechtenstein </option>
                <option value="LT">Lithuania </option>
                <option value="LU">Luxembourg </option>
                <option value="MK">Macedonia </option>
                <option value="MG">Madagascar </option>
                <option value="MW">Malawi </option>
                <option value="MY">Malaysia </option>
                <option value="MV">Maldives </option>
                <option value="ML">Mali </option>
                <option value="MT">Malta </option>
                <option value="MH">Marshall Islands </option>
                <option value="MR">Mauritania </option>
                <option value="MU">Mauritius </option>
                <option value="MX">Mexico </option>
                <option value="FM">Micronesia </option>
                <option value="MD">Moldova </option>
                <option value="MC">Monaco </option>
                <option value="MN">Mongolia </option>
                <option value="MA">Morocco </option>
                <option value="MZ">Mozambique </option>
                <option value="MM">Myanmar </option>
                <option value="NA">Namibia </option>
                <option value="NR">Nauru </option>
                <option value="NP">Nepal </option>
                <option value="NL">Netherlands </option>
                <option value="NZ">New Zealand </option>
                <option value="NI">Nicaragua </option>
                <option value="NE">Niger </option>
                <option value="NG">Nigeria </option>
                <option value="KP">North Korea </option>
                <option value="NO">Norway </option>
                <option value="OM">Oman </option>
                <option value="PK">Pakistan </option>
                <option value="PW">Palau </option>
                <option value="PA">Panama </option>
                <option value="PG">Papua New Guinea </option>
                <option value="PY">Paraguay </option>
                <option value="PE">Peru </option>
                <option value="PH">Philippines </option>
                <option value="PL">Poland </option>
                <option value="PT">Portugal </option>
                <option value="QA">Qatar </option>
                <option value="RO">Romania </option>
                <option value="RU">Russia </option>
                <option value="RW">Rwanda </option>
                <option value="KN">Saint Kitts and Nevis </option>
                <option value="LC">Saint Lucia </option>
                <option value="VC">Saint Vincent and the Grenadines </option>
                <option value="WS">Samoa </option>
                <option value="SM">San Marino </option>
                <option value="ST">Sao Tome and Principe </option>
                <option value="SA">Saudi Arabia </option>
                <option value="SN">Senegal </option>
                <option value="YU">Serbia and Montenegro </option>
                <option value="SC">Seychelles </option>
                <option value="SL">Sierra Leone </option>
                <option value="SG">Singapore </option>
                <option value="SK">Slovakia </option>
                <option value="SI">Slovenia </option>
                <option value="SB">Solomon Islands </option>
                <option value="SO">Somalia </option>
                <option value="ZA">South Africa </option>
                <option value="KR">South Korea </option>
                <option value="ES">Spain </option>
                <option value="LK">Sri Lanka </option>
                <option value="SD">Sudan </option>
                <option value="SR">Suriname </option>
                <option value="SZ">Swaziland </option>
                <option value="SE">Sweden </option>
                <option value="CH">Switzerland </option>
                <option value="SY">Syria </option>
                <option value="TZ">Tanzania </option>
                <option value="TW">Taiwan </option>
                <option value="TJ">Tajikistan </option>
                <option value="TH">Thailand </option>
                <option value="TG">Togo </option>
                <option value="TO">Tonga </option>
                <option value="TT">Trinidad and Tobago </option>
                <option value="TN">Tunisia </option>
                <option value="TR">Turkey </option>
                <option value="TM">Turkmenistan </option>
                <option value="TV">Tuvalu </option>
                <option value="UG">Uganda </option>
                <option value="UA">Ukraine </option>
                <option value="AE">United Arab Emirates </option>
                <option value="GB" selected="selected">United Kingdom </option>
                <option value="US">USA </option>
                <option value="UY">Uruguay </option>
                <option value="UZ">Uzbekistan </option>
                <option value="VU">Vanuatu </option>
                <option value="VE">Venezuela </option>
                <option value="VN">Vietnam </option>
                <option value="YE">Yemen </option>
                <option value="ZM">Zambia </option>
                <option value="ZW">Zimbabwe</option>
            </select>
            <label>
                When were you born?</label>
            <fieldset class="date_field clearfix">
                <input type="text" id="day" name="day" value="DD" class="inputText" maxlength="2"
                    tabindex="2" />
                <input type="text" id="month" name="month" value="MM" class="inputText" maxlength="2"
                    tabindex="3" />
                <input type="text" id="year" name="year" value="YYYY" class="inputText" maxlength="4"
                    tabindex="4" />
            </fieldset>
            <div class="rememberDetails">
                <label>
                    <input type="checkbox" id="remember" name="remember" class="inputCheck" tabindex="6" /><span class="rememberText">Use a <a href="../privacy-cookies-notice.html#cookie">cookie</a> to remember me.</span>
                </label>
                
            </div>
            
            <!-- BEGIN FOOTER CONTENT -->
            <p class="disclaimer">
                Only check this box if you are not using a <br />shared computer.<br /><br />
                By entering this site you agree to our<br /> <a href="../terms-and-conditions.html">Terms &amp;
                    Conditions</a> and <a href="../privacy-cookies-notice.html#cookie">Privacy & Cookies Notice</a>.<br /><br />
                <a href="../why.html">Why do we need to ask these questions?</a></p>
            <!-- END FOOTER CONTENT -->
            <input type="image" src="../images/btns/gateway-btn.gif" name="submit" value="Enter"
                tabindex="5" class="inputBtn" />
            
        </fieldset>
        </form>
        
    </div>
    <!-- end DIV gate-container -->
</div>
<!-- end DIV agegate -->
