html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, 
hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, figure, footer, header, 
hgroup, nav, section { display:block; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }


/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }
/* END RESET CSS */

body, select, input, textarea { color:#333; }
h1,h2,h3,h4,h5,h6 { font-weight:normal; text-rendering: optimizeLegibility; }
html { -webkit-font-smoothing: antialiased; }
a:hover, a:active { outline: none; }
a, a:active, a:visited { color:#006335; }
a:hover { color:#333; text-decoration:none;}

ul { list-style-type:none; }
ol { margin-left:30px; list-style-type: decimal; }

small { font-size:100%; }
strong, th { font-weight: bold; }

td, td img { vertical-align:top; } 

sup{font-size:0.63em; vertical-align:super;}
h1 sup{font-size:0.3em;}
.ie6 sup,
.ie7 sup{position:relative; top:-0.4em;}

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
a:link { -webkit-tap-highlight-color: transparent; } 
html { overflow-y: scroll; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }




@font-face{
font-family:"TradeGothicW01-BoldCn20_675334";
src:url("/assets/5fdc935e-9e30-442a-bbe9-8d887b858471.woff") format("woff");
}
tradegothicw01-boldcn20 675334{font-family:"TradeGothicW01-BoldCn20_675334";}



/******** Generic Forms Styles ***********/

input.inputText{font:14px Georgia, "Times New Roman", Times, serif; line-height:1.28; color:#999; padding:6px 14px;
border-top:1px solid #ccc; border-left:1px solid #ebebeb; border-right:1px solid #ebebeb; border-bottom:1px solid #f2f2f2;}
input.inputCheck{border-top:1px solid #ccc; border-left:1px solid #ebebeb; border-right:1px solid #ebebeb; border-bottom:1px solid #f2f2f2;}
.ie6 input.inputCheck,
.ie7 input.inputCheck,
.ie8 input.inputCheck{border-style:none !important;}
select,
option{font:14px Georgia, "Times New Roman", Times, serif; line-height:1.28; color:#333; }
select{border-top:1px solid #ccc; border-left:1px solid #ebebeb; border-right:1px solid #ebebeb; border-bottom:1px solid #f2f2f2; padding:6px 8px 6px 10px;}
input.inputBtn{margin:1.5em 0 1em;}
#age_content #age_age_select_group select {
    border: 1px solid #ccc!important;
    border-radius: 5px;
}
#age_content #age_confirm button {
    color: #fff!important;
}



/******** Registration Forms Styles ***********/

.reg_form{}

.reg_form .group{display:block; border-bottom:1px solid #e5e5e5; margin-bottom:1.5em;}
.ie6 .reg_form .group{padding-top:0.2em;}
.reg_form .clr{display:block; padding-bottom:1em; height:0; line-height:0;}
.reg_form label.input{float:left; width:142px; display:inline; margin-right:12px; text-align:right;}
.reg_form label.inputLeft{float:left; width:122px; display:inline; text-align:left;}
.reg_form label.inputLong{float:left; width:440px; display:inline; text-align:left;}

.reg_form input.inputText{font:14px Georgia, "Times New Roman", Times, serif; line-height:1.2; color:#999; padding:3px 8px 4px; margin-top:-0.2em;
border-top:1px solid #c2c2c2; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; border-bottom:1px solid #fbfbfb; background-color:#f2f2f2;}
.reg_form input.inputCheck{border-top:1px solid #c2c2c2; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; border-bottom:1px solid #fbfbfb; margin-top:-0.1em;}
.reg_form input.inputRadio{margin-top:-0.3em;}
.reg_form select,
.reg_form option{font:14px Georgia, "Times New Roman", Times, serif; line-height:1.28; color:#333; background-color:#f2f2f2;}
.reg_form select{border-top:1px solid #c2c2c2; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; border-bottom:1px solid #fbfbfb; padding:2px 3px 2px 6px;
margin-top:-0.2em;}

.reg_form .buttonWrapper{text-align:right; margin:1.5em 0 1em;}
.reg_form .buttonWrapper .prevbutton{float:left;}
.reg_form .nextbutton,
.reg_form .prevbutton{cursor:pointer;}

.reg_form input.warning,
.reg_form select.warning{border:1px solid red;}
.reg_form input[type="radio"].warning{border:none;}
.reg_form span.warning3{border:1px solid red; padding:3px;}
.reg_form label.warning{color:red; display:block; margin-left:154px; margin-bottom:0.5em;}
.reg_form span.warning{color:red; display:block; margin-left:154px; margin-bottom:0.5em;}
.reg_form span.warning2{color:red; margin-left:154px; margin-bottom:0.5em;}

.reg_form #sf3 label.warning{margin-left:122px;}
.reg_form #sf3 fieldset.group label.warning{margin-left:0; margin-right:20px; text-align:right;}
.reg_form #sf3 p{color:#666;}

	/* individual field styling */
	.reg_form .inputTitle{width:65px; display:inline; margin-right:10px; float:left;}
	.reg_form .inputFirstname{width:135px; display:inline; margin-right:10px; float:left;}
	.reg_form .inputLastname{width:135px; float:left;}
	
	.reg_form .inputDay,
	.reg_form .inputMonth{width:29px; display:inline; margin-right:10px; float:left; text-align:center;}
	.reg_form .inputYear{width:44px; float:left; text-align:center;}
	
	.reg_form .inputAddress1,
	.reg_form .inputAddress2{width:136px; display:inline; margin-right:10px; float:left;}
	.reg_form .inputTown{width:136px; float:left;}
	.reg_form .inputPostcode{width:136px; display:inline; float:left; margin-left:154px; margin-right:10px;}
	.reg_form .inputCountry{width:136px; float:left;}
	
	.reg_form label.checkbox{display:inline; float:left; margin-left:154px;}
	
	.reg_form .inputEmail{width:210px; display:inline; margin-right:10px; float:left;}
	.reg_form .inputConfirmEmail{width:210px; float:left;}
	
	.reg_form .inputMobile{width:210px;}
	
	.reg_form .selectGinis,
	.reg_form .selectAsforgin{width:536px;}
	
	.ie6 .reg_form .selectGinis,
	.ie6 .reg_form .selectAsforgin{width:530px;}
	
	.reg_form label.floatCheck{float:left; display:inline; padding-right:1.5em; margin-right:16px; position:relative; text-align:right;}
	.reg_form label.floatCheck input.inputCheck{position:absolute; top:0.35em; right:0;}
	.reg_form .HearAboutGordons {float:right; }
    .errorMobileMessage {color:Red;float:right;padding-right:19px;}


/******** Search Forms Styles ***********/

.search_form {

	float: right;
    display: inline-block;
    position: relative;
    max-width: 159px;
    width: 100%;
    margin-top: 20px;
    margin-right: 41px;

}

.search_form label {
	float:left; 
	width:102px; 
	margin-top:0.4em;
}
.search_form input.inputText {
	font:14px Georgia, "Times New Roman", Times, serif; 
	line-height:1.2; 
	color:#333; 
	padding:5px 8px 6px; 
	margin:0; 
	width:436px;
	border-top:1px solid #c2c2c2; 
	border-left:1px solid #dfdfdf; 
	border-right:1px solid #dfdfdf; 
	border-bottom:1px solid #fbfbfb; 
	background-color:#f2f2f2;
	float:left;
}
.search_form input.inputBtn { 
	margin:0; 
	float:right;
}


.search_form input.searchText {
    float: left;
    border: none;
    outline: none;
    width: 120px;
    height: 18px;
    line-height: 18px;
    padding: 4px 4px 3px 10px;
    font-size: 12px;
    color: #ababab;
    font-family: "Trebuchet MS", sans-serif;
    background: #f2f2f2;
}
.search_form input.searchBtn {
    float: left;
    width: 25px;
}

.mobile-search {
	display: none;
}

.search-icon img {
	width: 30px;
	margin-top: 3px;
}

.home-search {
	margin-right: 26px;
}




@media screen and (max-width: 767px) {

	.mobile-search {
		display: block;
		position: absolute;
		top: 16px;
		right: 10px;
	}

	.search_form {
		float: none;
		display: none;
		max-width: 100%;
		background: #fff;
		height: auto;
		margin-top: -5px;
		border-top: 1px solid #f4f4f4;
		border-bottom: 2px solid #f4f4f4;
		padding: 25px 0px;
	}

	.search_form input.searchText {
		width: 240px;
		float: none;
	}

	.search_form input.searchBtn {
     float: none;
	}



}

@media screen and (min-width: 767px) and (max-width: 1024px) {

	.search_form {
		
	}

}





/******** About Page Styles ***********/
/* About  default  Styles */

#rhs .lng_content .panel {
    margin-bottom: 10px;
    background: white;
    /*overflow: hidden;*/
}
#rhs .lng_content .panel .text {
    padding: 16px 20px 2px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#rhs .lng_content .panel .col_1 {
    float: left;
    width: 284px;
}
#rhs .lng_content .panel .col_2 {
    float: right;
    width: 315px;
}
#rhs .lng_content .panel h2 {
    font-size: 1.714em;
    color: #333;
    text-transform: uppercase;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 0.15em;
    margin-bottom: 0.25em;
}

@media screen and (max-width: 767px) {
    #rhs .lng_content .panel h2 {
        line-height: 1.1em;
    }
    #rhs .lng_content .panel .text table {
        width: 100%!important;
    }
    #rhs .lng_content .panel .text table tr td:first-child {
        width: 75%!important;
    }
    #rhs .lng_content .panel .text table tr td:last-child {
        width: 25%!important;
    }
    #rhs .lng_content .panel .text table.gin-recipe {
        width: 100%!important;
    }
    #rhs .lng_content .panel .text table.gin-recipe tr td:first-child {
        width: 25%!important;
    }


    #rhs .lng_content .panel .text table.gin-recipe tr td:last-child {
        width: 75%!important;
        padding-left:10px;
    }

}

@media only screen
  and (min-width: 320px)
  and (max-width: 568px) {
    #rhs .lng_content .panel .text table.gin-recipe tr td img {
        width: 90px;
        height: 90px;
        margin-right: 3px;
    }
}


#rhs .lng_content .panel h2 a {
    text-decoration: none;
    color: #006335;
}
#rhs .lng_content .panel h2 a:hover {
    color: #333;
}
#rhs .lng_content .panel {} #rhs .lng_content .panel .year {
    clear: both;
}
#rhs .lng_content .panel .year p {
    float: right;
    width: 525px;
}
@media screen and (max-width: 767px) {
    #rhs .lng_content .panel .year p {
        float: left;
        width: 100%;
        margin-bottom: 2.5em;
    }
}

#rhs .lng_content .panel .year p.date {
    float: left;
    width: 95px;
    display: inline;
    margin-right: 10px;
    font-family: "TradeGothicW01-BoldCn20_675334", Arial, sans-serif;
    font-size: 1.714em;
    color: #006335;
}
@media screen and (max-width: 767px) {
    #rhs .lng_content .panel .year p.date {
        float: left;
        width: 18%;
        margin-bottom: .1em;
    }
}
/* About & Collection Styles */

.about #rhs .lng_content .panel h2 {
    margin-bottom: 0.75em;
}
.about #rhs .lng_content .collection {
    background-position: right bottom;
    background-repeat: no-repeat;
}
.about #rhs .lng_content .collection .text {
    padding: 10px 20px 10px 20px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .about #rhs .lng_content .collection .text {
        padding: 10px 0 2px 20px;
        float: left;
        width: 530px;
        box-sizing: content-box;
    }
}

@media screen and (max-width: 767px) {
    .about #rhs .lng_content .collection .text p {
        margin-right: 100px;
    }
}

.about #rhs .lng_content .collection h2 {
    font-size: 2.143em;
    padding-bottom: 0.05em;
    margin-bottom: 0.4em;
}
@media screen and (max-width: 767px) {
    .about #rhs .lng_content .collection h2 {
        width: 80%;
    }
}
/* Calendar */

.calendar #rhs .lng_content {
    width: 680px;
    margin-right: 0;
}
.calendar #rhs .lng_content .panel {
    width: 316px;
    height: 70px;
    padding: 7px;
    float: left;
    display: inline;
    margin-right: 10px;
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 1.071em;
}
.calendar #rhs .lng_content a.panel {
    text-decoration: none;
}
.calendar #rhs .lng_content .panel .date {
    float: left;
    width: 58px;
    height: 50px;
    margin-top: 10px;
    border-right: 1px solid #ccc;
    color: #666;
    text-align: center;
    text-transform: uppercase;
}
#calendar.lng_content .panel .date .month {
    display: block;
    line-height: 1;
    font-size: 1.2em;
    margin-top: -2px;
}
#calendar.lng_content .panel .date .day {
    display: block;
    line-height: 1;
    font-size: 2.33em;
}
.calendar #rhs .lng_content .panel .text {
    float: left;
    width: 134px;
    display: inline;
    margin: 7px 0 0 10px;
    padding: 0;
    text-transform: uppercase;
    line-height: 1.2;
}
.calendar #rhs .lng_content .panel .text.noimage {
    width: 244px;
}
.calendar #rhs .lng_content .panel .text a {
    text-decoration: none;
}
.calendar #rhs .lng_content .panel .text a:hover {
    color: #333;
}
.calendar #rhs lng_content .panel .text a img {
    display: inline;
    margin-bottom: 5px;
    padding: 2px 0 0 0;
    vertical-align: middle;
}
.ie6 .calendar #rhs .lng_content .panel .text a img,
.ie7 .calendar #rhs .lng_content .panel .text a img {
    padding-top: 3px;
}
.calendar #rhs .lng_content .panel .thumb {
    float: right;
}


/*** data third party pages styles ***/


#data-third-party {
    background: #fff;
    padding: 70px 15px;
}

#rhs #data-third-party #testing h1 {

	font-size: 1.714em;
    color: #333;
    text-transform: uppercase;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 0.15em;
    margin-bottom: 0.75em;
    font-weight: 200;
    font-family: "TradeGothicW01-BoldCn20_675334", Arial, sans-serif !important;
}

#rhs #data-third-party #testing h2 {
	font-family: Georgia,Times New Roman,Times,serif;
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 1.286em 0;
    border-bottom: none;
    color: #000;
    padding: 0;
    text-transform: none;

}

.functional {
	background: none;
}


/*************** Footer Styles **********************/


#footer {
    font-size:0.786em;
    font-family:"Trade Gothic W01 Roman", "Trebuchet MS", sans-serif;
    z-index:9030;
}


#foot_nav {
	margin:5px 0 0 12px;
}

.ie6 #foot_nav,
.ie7 #foot_nav,
.ie8 #foot_nav {
	zoom:1;
}

#foot_nav li {
    float:left;
    padding:0 8px;
    line-height:20px;
	background:url(/images/foot-div.gif) right center no-repeat;
}

#foot_nav li img {
	vertical-align:middle;
}
#foot_nav li.last {
	background:none; padding-right:0;
}
#foot_nav li a {
	color:#666;
	text-decoration:none;
}
#foot_nav li a:hover {
	color:#000;
}

#foot_overlay {
	position:absolute;
	right:0;
	top:-77px;
	z-index:9999;
	pointer-events: none;
}

#footer small{
	position:absolute;
	top:27px;
	left:0;
	display:block;
	clear:both;
	padding-top:4px;
	margin:0 0 0 20px;
	color:#666;}

#footer .littleCopy {
	position:absolute;
	top:27px;
	left:10px;
	display:block;
	clear:both;
	padding-top:4px;
	margin:0 0 0 10px;
	color:#666;
	width: 60%
}




/********* Tablet Styles ***************/


@media screen and (max-width: 767px) {

	#footer {
		max-width: 100%;
		min-height: 50px;
		padding-top: 50px;
		position: relative;
		background: white;
		overflow: hidden;
	}


	#foot_nav li {
	    display: inline-block;
	    margin-right: 10px;
	    padding:0 8px;
	    line-height:24px;
	    border-right: 0px none;
	    text-align: left;
		width: 40%;
		background: none;

	}

	#foot_nav li .drinkaware-logo{
		margin-top: -35px;
		padding-right:0;
		display: block;
	}

	#footer .littleCopy {
		position:relative;
		top: 0px;
		display: block;
		padding-bottom: 40px;
		color:#666;

	}
	#foot_overlay {
		position:absolute;
		right:-10px;
		bottom: 0;
		z-index:9999;
		top:auto;
		width: 250px;
		height: auto;
	}


}


@media screen and (min-width: 768px) {
	#footer {
		clear: both;
		min-height:55px;
		width:100%;
		background:#fff;
		position:absolute;
		bottom:0;
		font-size:0.786em;
		/*display: none;*/
	}
}

@media only screen and (min-width: 768px) and (max-width: 1075px) {

	#footer {
		min-height: 110px;
	}

	#foot_overlay {
		top: -40px !important;
		width: 250px;
		height: auto;
	}

	#foot_nav {
		width: 80%;
	}

	#foot_nav li {
    display: inline-block;
    float: none;
	}

	#foot_nav li .drinkaware-logo {
		vertical-align: middle;	
		display: inline-block;	
	}


	#footer .littleCopy {
		position:relative;

	}

}




/*************** Header Styles **********************/

#header{
	height:79px;
	width:100%;
	background:#fff;
	position:fixed;
	z-index:1040; top:0;
	padding-top:1px;
	/*display: none;*/
}

.ie6 #header {
	position:absolute;
	width: expression((document.body.clientWidth < 988)? "986px" : "auto");
}





@media screen and (max-width: 767px) {

	.header-wrapper	{
		position: relative;
		text-align: center;
	}

}
html,
body,
body > form {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #fff;
}
body {
    font: 14px Georgia, "Times New Roman", Times, serif;
    line-height: 1.28;
    position: relative !important; /** Ipad issues ***/
}
body > form {
    background: none;
}
.ie6 html {
    overflow-y: hidden;
}
.ie6 body {
    overflow-y: auto;
}
#container {
    position: relative;
    min-height: 100%;
    width: 100%;
}
.ie6 #container {
    height: 100%;
    width: expression((document.body.clientWidth < 988)? "986px": "auto");
}

#bg_container {
    background-color: #ebebeb;
}

@media only screen
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #bg_container img.bg {
        min-height: 0px !important;
        min-width: 0px !important;
    }
}

#bg_container img {
    display: none;
}
#bg_container img.bg {
    min-height: 100%;
    min-width: 100%;
    /* min-width: 1024px; */

    width: auto;
    /* width: 100% */

    height: auto;
    position: fixed;
    top: 60px;
    /*left: 0;*/
}

@media screen and (max-width: 1400px) {

    #bg_container.homepage img.bg {
        width: 100%;
        min-height: auto;
        top: 60px;
        margin-top: 20px;
    }
}

/*@media screen and (max-width: 767px) {

    #bg_container img.bg {
        width: 100%;
        min-height: auto;
        top: 60px;
        margin-top: 20px;
    }
}*/

#bg_container img#current_bg {
    display: none;
}
.ie6 #bg_container img.bg {
    width: 100%;
    position: absolute;
}
#main {
    padding: 80px 0 55px;
    position: relative;
}
@media screen and (max-width: 767px)  {
    #main {
        padding-bottom: 0;
        background-color: #e3e3e3;
    }
}
#content {
    z-index: 1010;
    position: relative;
}
.ie6 #content {
    zoom: 1;
}
#content.overlay {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.4);
    /* FF3+, Saf3+, Opera 10.10+, Chrome, IE9 */

    filter: progid: DXImageTransform.Microsoft.gradient(startColorStr='#66000000', EndColorStr='#66000000');
    /* IE6–IE9 */
}
/* Persistent styles */

#logo {
	float:left;
	display:inline;
	margin-right:9px;
}

#nav {
    float: left;
    font-size: 1.286em;
    text-transform: uppercase;
    line-height: 1;
    padding-top: 30px;
    font-family: "TradeGothicW01-BoldCn20_675334", Arial, sans-serif;
}
#nav li {
    float: left;
    display: inline;
    margin-right: 15px;
}
#nav li a {
    text-decoration: none;
}
#nav li a:hover,
#nav li a.active {
    color: #333;
}



#content{}
#content h1{font-size:2.571em; margin-bottom:0.28em; font-family:"TradeGothicW01-BoldCn20_675334", Arial, sans-serif; text-transform:uppercase;
letter-spacing:-1.2px; line-height:1.1;}
#content h2{font-size:1.71em; font-family:"TradeGothicW01-BoldCn20_675334", Arial, sans-serif; text-transform:uppercase;}
#content h3{font-size:1em; font-weight:bold; margin-bottom:1.286em;}
#content p{margin-bottom:1.286em;}
#content ul{margin-bottom:1.286em;}
#content ul li{padding-left:16px; background:url(/images/bullet.gif) left top no-repeat; background-position: 0em .6em; }



#content {

}

#content.moire {
    background: url(/images/bg-overlay-tile.png) repeat;

}

@media screen and (max-width: 767px) {
	#content.moire,
    #content {
    	width: 100%;
    	padding-left: 16px;
    	padding-right: 16px;
    	padding-top: 16px;
    	padding-bottom: 16px;
    	background-color: #e3e3e3;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
    }

    #content.moire.homepage,
    #content.homepage {
        background-color: transparent;
    }
}

#content h1 {
    font-size: 2.571em;
    margin-bottom: 0.28em;
    font-family: "TradeGothicW01-BoldCn20_675334", Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: -1.2px;
    line-height: 1.1;
}
#content h2 {
    font-size: 1.71em;
    font-family: "TradeGothicW01-BoldCn20_675334", Arial, sans-serif;
    text-transform: uppercase;
}
#content h3 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.286em;
}
#content p {
    margin-bottom: 1.286em;
}
#content ul {
    margin-bottom: 1.286em;
}
#content ul li {
    padding-left: 16px;
    background: url(/images/bullet.gif) left top no-repeat;
    background-position: 0em .6em;
}

.hidden {
    display: none;
}
body.pageNotFound #footer {
    position: fixed;
    bottom:0;
}
body.pageNotFound #content {
    min-height: 400px;
}

/************ Top Menu Styles ************/

#logo {
	float:left;
	display:inline;
	margin-right:9px;
}

/********* Mobile Styles ***************/
@media screen and (max-width: 767px) {

	#logo {
	 float:none;
	 display: inline-table;
	 /*display: block;*/
	 margin-right: 0;
	 text-align: center;
	}

}




/* Long Content Page Layout */

#rhs .lng_content {
    display: inline;
    width: 100%;
}

@media screen and (min-width: 768px) {
    #rhs .lng_content {
        float: right;
        width: 670px;
	    margin-right: 10px;
	    padding-bottom: 90px;
    }
}

#rhs .lng_content h3 {
    margin-bottom: 0.15em;
}
/* Long Content panels */


/* registration */

	.registration #rhs .std_content h1 {
		margin-bottom:0.75em;
	}
	.registration #rhs .std_content h1.underline {
		padding-bottom:0.2em;
		margin-bottom:0.45em;
		border-bottom:1px solid #e5e5e5;
	}
	.registration #rhs .std_content p.mandatory {
		position:relative;
		text-align:right;
		margin:-3.5em 0 2.5em;
		font-size:0.857em; color:#777;
	}

	/* floaters */
	#floater {
		position:absolute;
		top:170px;
		left:4%;
	}
 	.registration #floater {
 	 top:170px;
 	 left:4%;
 	}


@media screen and (max-width: 1024px) {


	.registration #floater {
	    position: relative;
	    max-width: 100%;
	    top: 40px;
	    text-align: center;
	}

	.registration #rhs {
		position: relative;
	}
}

@media screen and (max-width: 767px) {

	#rhs #registration {
		margin-bottom: 15px;
	}
}

@media screen and (max-width: 480px) {

	.registration #floater {
	    top: 15px;
	}
	.registration {
		text-align: center;
	}

	#rhs {

		clear: both;;
	}

	#rhs .std_content .registration-img {
	    float: none !important;
	    margin: 10px;
    }

    #rhs .std_content h1, p {
    	text-align: left;
    }
}
/* Right side content Styles */

#rhs {
    width: 100%;
}

@media screen and (min-width: 768px) {
    #rhs {
        float: right;
        width: 700px;
    }
}

#rhs .floatImgRight {
    float: right;
    margin: 0 0 0 10px;
}
#rhs .floatImgLeft {
    float: left;
    margin: 0 10px 0 0;
}
#rhs a.external {
    padding-right: 10px;
    background: url(/images/icn-external.gif) right center no-repeat;
}
/*#rhs a.text_link{padding-right:19px; background:url(../images/arrow-right.gif) right 4px no-repeat;}*/

#rhs a.text_link {
    padding-right: 19px;
    background: url(/images/arrow-right.gif) right 4px no-repeat;
}

@media screen and (min-width: 768px) {
    #rhs a.text_link {
        white-space: nowrap;
    }
}

.ie6 #rhs a.text_link,
.ie7 #rhs a.text_link {
    zoom: 1;
}
#rhs a.text_link:hover {
    background-position: right -29px;
}
#rhs .intro {
    width: 100%;
    margin: 0px 0 10px;
    background: white;
    /*overflow: hidden;*/
}

@media screen and (min-width: 768px) {
    #rhs .intro {
        width: 700px;
        margin: 38px 0 20px;
    }
}

#rhs .intro_tight {
    margin-bottom: 10px;
}
#rhs .intro .text {
    padding: 12px 20px 2px;
}
#rhs .intro .img {
    float: left;
    width: 480px;
}
#rhs .intro p {
    line-height: 1.428;
}
#rhs .intro img.thumb {
    float: right;
    width: 190px;
}
#rhs .intro .floatImgRight {
    float: right;
    margin: -5px 0 5px 10px;
}
#rhs .intro .nav_strip {
    margin-top: -0.5em;
}
#rhs .intro span.decorative {
    font-size: 3em;
    float: left;
    line-height: 1;
    margin: -1px 5px 0 0;
    display: inline;
}
#rhs .nav_strip {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 1em;
    margin-bottom: 1.2em;
    width: 100%;
    overflow: hidden;
}
#rhs .nav_strip ul.categories {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 0.857em;
    margin-bottom: 0;
    float: left;
    display: block;
    width: 100%;
}
#rhs .nav_strip ul.categories li {
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 11px 0 0;
    color: #666;
    background: url(/images/cat-div.gif) right center no-repeat;
}
#rhs .nav_strip ul.categories li.last {
    background: none;
    padding-right: 0;
}
#rhs .nav_strip ul.categories li a {
    text-decoration: none;
}
#rhs .nav_strip ul.categories li a:hover {
    color: #333;
}
#rhs .nav_strip .prev_next {
    float: right;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 0.857em;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 15px;
    display: inline-block;
}

@media screen and (min-width: 768px) {

    #rhs .nav_strip ul.categories {
        display: inline-block;
        width: auto;
    }

    #rhs .nav_strip .prev_next {
        padding-top: 0;
    }
}

#rhs .nav_strip .prev_next a {
    color: #006335;
    float: left;
    display: inline;
    text-decoration: none;
}
#rhs .nav_strip .prev_next a:hover {
    color: #333;
}
#rhs .nav_strip .prev_next a.prev {
    padding-left: 17px;
    margin-right: 7px;
    background: url(/images/arrow-left.gif) left 2px no-repeat;
}
#rhs .nav_strip .prev_next a.next {
    padding-right: 17px;
    margin-left: 8px;
    background: url(/images/arrow-right.gif) right 2px no-repeat;
}
.ie6 #rhs .nav_strip .prev_next a.prev,
.ie7 #rhs .nav_strip .prev_next a.prev {
    background-position: left 1px;
}
.ie6 #rhs .nav_strip .prev_next a.next,
.ie7 #rhs .nav_strip .prev_next a.next {
    background-position: right 1px;
}
#rhs .nav_strip .prev_next a.prev:hover {
    background-position: left -31px;
}
#rhs .nav_strip .prev_next a.next:hover {
    background-position: right -31px;
}
.ie6 #rhs .nav_strip .prev_next a.prev:hover,
.ie7 #rhs .nav_strip .prev_next a.prev:hover {
    background-position: left -32px;
}
.ie6 #rhs .nav_strip .prev_next a.next:hover,
.ie7 #rhs .nav_strip .prev_next a.next:hover {
    background-position: right -32px;
}
#rhs .page_functions {
    border-top: 1px solid #e5e5e5;
    padding-top: 1em;
    padding-bottom: 18px;
    clear: both;
}
#rhs .page_functions ul.functions {
    float: left;
    margin-bottom: 0;
    font-size: 0.785em;
}
#rhs .page_functions ul.functions li {
    float: left;
    padding-left: 0;
    background: none;
    margin-right: 15px;
    display: inline;
    height: 25px;
    line-height: 25px;
}
#rhs .page_functions ul.functions li a {
    padding-left: 21px;
    text-decoration: none;
    cursor: pointer;
    background: url(/images/icn-functions.gif) left top no-repeat;
    float: left;
    height: 21px;
}
#rhs .page_functions ul.functions li a:hover {
    color: #333;
}
#rhs .page_functions ul.functions li a.print {
    background-position: left 2px;
}
#rhs .page_functions ul.functions li a.pdf {
    background-position: left -48px;
}
#rhs .page_functions a.go_back {
    float: right;
    padding-left: 16px;
    background: url(/images/arrow-left.gif) left 6px no-repeat;
    font-size: 1.286em;
    text-transform: uppercase;
    color: #006335;
    text-decoration: none;
    font-family: "TradeGothicW01-BoldCn20_675334", sans-serif;
}
#rhs .page_functions a.go_back:hover {
    color: #333;
    background-position: left -27px;
}

/******** Short Content Page Styles ***********/


#rhs .std_content{padding:12px 20px 2px; margin-top:40px; margin-bottom:90px; background:#fff;}
/*#rhs a {word-break: break-all;}*/
#rhs .std_content:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ie6 #rhs .std_content,
.ie7 #rhs .std_content{zoom:1;}

	#rhs .std_content h1{padding-top:0.1em; margin-bottom:0.05em;}
	#rhs .std_content h2{font-size:1.714em; color:#333; text-transform:uppercase;
		border-bottom:1px solid #e5e5e5; padding-bottom:0.15em; margin-bottom:0.75em;}


	#rhs #infoPage h1{font-size:1.714em; color:#333; text-transform:uppercase;
		border-bottom:1px solid #e5e5e5; padding-bottom:0.15em; margin-bottom:0.75em;}
		/*
	#rhs #infoPage h2{font-size:1em; color:#333;
	     padding-bottom:0.15em; margin-bottom:0.25em;}
		*/
    #rhs .std_content .recipe_content h2, #rhs #infoPage h2
	{
	    font-family: Georgia,Times New Roman,Times,serif;
	    font-size:1em;
	    font-weight:bold;
	    margin: 0 0 1.286em 0;
	    border-bottom: none;
	    color: #000;
	    padding: 0;
	    text-transform: none;
    }



	#rhs .std_content .floatImgRight{float:right; margin:0 -5px 0 10px;}
	#rhs .std_content .floatImgLeft{float:left;}

	#rhs .std_content .watch_video{margin-bottom: 0.5em; max-width: 395px; clear:both;}

	@media screen and (min-width: 768px) {
		#rhs .std_content .watch_video {
			margin-left:217px;

		}
	}
	#rhs .std_content .watch_video img.thumb{float:left; display:inline; margin-right:12px; margin-top:0.3em;}
    #rhs .std_content .watch_video p{float:left; width:100%; max-width:250px;}
    #rhs .std_content .watch_video p.title{float:left; width:100%; max-width:260px; margin-bottom:0.1em; font-size: 1.714em; text-transform: uppercase;
    font-family: "TradeGothicW01-BoldCn20_675334",Arial,sans-serif;}
    #rhs .std_content .watch_video p.title a{text-decoration:none;}
    #rhs .std_content .watch_video p.text_arrow img{vertical-align:middle;}


	/* transcript styles */
	#video_embed{}
		#video_transcript{border-bottom:1px solid #e5e5e5; margin-bottom:1.286em; display:none;}
	#rhs .std_content p.transcript_link{text-align:right; border-bottom:1px solid #e5e5e5; padding-bottom:1em; margin:0.5em 0 0.6em;}
	#rhs .std_content p.video_link{text-align:left; }
	#rhs .std_content p.video_link a.text_link{padding:0 0 0 19px; background: url(/images/arrow-left.gif) 0 4px no-repeat;}
	#rhs .std_content p.video_link a.text_link:hover{background-position:0 -29px;}

	/* recipes */
	#rhs .std_content .recipe_content .ingredients{float:left; width:100%; padding-left:5px; padding-right:20px; display:inline;}
	#rhs .std_content .recipe_content .ingredients .alcohol{margin-top:-1em; margin-left:16px; color:#999;}
	#rhs .std_content .recipe_content .directions{float:left; width:100%;}

	@media screen and (min-width: 768px) {
		#rhs .std_content .recipe_content .ingredients {
			/*width: 30%;*/
			width:212px;
		}

		#rhs .std_content .recipe_content .directions {
			/*width: 70%;*/
			width:423px;
		}
	}




	/* functional */
	.functional #rhs .std_content h3{margin-bottom:0.25em;}



/******** Slideshow Styles ***********/

#slide_controls {
	display:none;
	/*position: absolute;*/
	z-index: 10;
}
#prev_slide,
#next_slide {
	position:absolute;
	width:30px;
	height:50px;
	text-indent:-9999px;
	overflow:hidden;
	outline:none;
	top:45%;
	background: url('/images/sprites/home-sprite.png') no-repeat;
}
#prev_slide {
	left:0;
	background-position: 0 -272px;
}
#next_slide {
	right:0;
	background-position: 0 -322px;
}

#prev_slide:hover {
	background-position: -30px -272px;
}

#next_slide:hover {
	background-position: -30px -322px;
}

#slide_pager {
	position:absolute;
	top:20px;
	left:20px;
}

#slide_pager a{
	float:left;
	width:10px;
	height:10px;
	display:inline;
	margin-right:5px;
	text-indent:-9999px;
	overflow:hidden;
	background: url('/images/sprites/home-sprite.png') no-repeat;
	background-position: 0 -715px;

}

#slide_pager a.activeSlide {
	background-position:-10px 0;
}

#slide_content {
	padding-bottom:90px;
	min-height:490px;
	min-height:380px;
}
.ie6 #slide_content {
	height:380px;
}

#slide_content .slide {
	display:none;
}

#slide_content #current_slide {
	display:block;
}

/* Slide content styling */

#slide_content .slide{}
#slide_content .slide .panels {
	position:absolute;
	top:60%;
	left:0;
}

#slide_content .slide .panels .intro {
	height:110px;
	width:438px;
	padding:15px 20px;
	margin:0 5px 0 0;
	float:left;
	display:inline;
	background:#fff;
}
#slide_content .slide .panels .intro h1 {
	color:#000;
	text-transform:none; font-weight:normal;
	margin-bottom:0; background:#fff;
			font-family:"SnellRoundhandW01-Bold", "Times New Roman", Times, serif; padding-bottom:5px;
}

#slide_content .slide .panels .intro p {
	margin-bottom:0;
	line-height:1.428;
}
#slide_content .slide .panels .teaser {
	height:130px;
	width:145px;
	padding:5px;
	margin:0 5px 5px 0;
	float:left;
	display:inline;
	text-decoration:none;
	background:#fff;
}
#slide_content .slide .panels .teaser img {
	display:block;
	margin-bottom:6px;
}
#slide_content .slide .panels .teaser span {
	display:block;
	line-height:1.214;
	margin-bottom:0;
	cursor:pointer;
	font-family:"Trebuchet MS", sans-serif;
	text-transform:uppercase;
	color:#006335;
	text-decoration:none;
}
/*#slide_content .slide .panels .teaser span img {
	display:inline;
	vertical-align:middle;
	padding:2px 0 0 3px;
	margin-bottom:5px;
}*/

#slide_content .slide .panels .teaser span > .link-arrow {
	display:inline-block !important;
	vertical-align:middle;
	margin-bottom:3px;
}

#slide_content .slide .panels .teaser span > .link-arrow:hover {
	background-position: 0 -230px;
}





/****************  ie styles ***************/
.ie6 #slide_content .slide .panels .teaser span img,
.ie7 #slide_content .slide .panels .teaser span img {
	padding-top:3px;
}
#slide_content .slide .panels .teaser:hover span {
	color:#333;
}

/* floaters */

#slide_content .floater {
	position:absolute;
}
#slide_content .floater img{
	background: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#00FFFFFF,EndColorStr=#00FFFFFF)";
   filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#00FFFFFF',EndColorStr='#00FFFFFF');
}

/* Individual slide styling */
#slide_content .homeslide_1 .floater{
	top:5%;
	right:21px;
}
#slide_content .homeslide_2 .floater {
	top:22%;
	right:52px;
}


@media screen and (max-width: 1023px) {

	#prev_slide,
	#next_slide {
		top: 45%;
	}

	#slide_content .slide .panels {
		padding: 15px;
		top: 60%;
	}

	#slide_content .slide .panels .intro {
		width: calc(100% - 40px);
		min-height: 110px;
		height: auto;
		clear: both;
		padding: 15px 20px;
		margin-bottom: 10px;
	}

	#slide_content .slide .panels .intro h1,
	#slide_content .slide .panels .intro p {
		margin-right: 40px;
	}
}

@media screen and (max-width: 767px) {

	#prev_slide,
	#next_slide {
		top: 25%;
	}

	#slide_content .slide .panels {
		padding: 15px;
		top: 40%;
	}
}

@media screen and (max-width: 525px) {

	#slide_content .slide .panels .teaser {
		width: calc(100% - 10px);
		margin-bottom: 5px;
		height: auto;
	}

	#slide_content .slide .panels .teaser > img {
		width: 100%;
	}
}


/************ Top Menu Styles ************/
#nav {
	float:left;
	font-size:1.286em;
	text-transform:uppercase;
	line-height:1;
	padding-top:30px;
	font-family:"TradeGothicW01-BoldCn20_675334", Arial, sans-serif;
}

#nav li {
	float:left;
	display:inline;
	margin-right:15px;
}
#nav li a {
	text-decoration:none;
}
#nav li a:hover,
#nav li a.active {
	color:#333;
}



.hamburger-open, .hamburger-close {
 display: none;
}

/********* Mobile Styles ***************/
@media screen and (max-width: 767px) {

	.hamburger-cover {
		position: absolute;
		display: block;
		top: 0px;
		left: 0px;

	}

	#nav {
		background: #fff;
		width: 100%;
		height: auto;
		display: none;
		margin-top: -21px;
		border-bottom: 1px solid #f4f4f4;

	}
	#nav li {
		float: none;
		display: block;
		margin-bottom: 5px;
		border-top: 1px solid  #006335;
		padding: 10px;
		margin-right: 0;
	}
	#nav li a  {
		text-align: center;
		display: block;
	}


	.hamburger-open {
		display: block;
		width: 44px;
		height: 44px;
		float: left;
		margin: 15px 5px 0px 3px;
	}
	.hamburger-close{
		display: none;
		width: 44px;
		height: 44px;
		float: left;
		margin: 15px 5px 0px 3px;
	}


}

/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9000; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%; top:80px !important;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:hidden;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

/*
    ColorBox example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/

#cboxOverlay
{
    background:#111;
    opacity:0.4 !important;
    filter: alpha(opacity=40) !important;
    -moz-opacity:0.4 !important;
    -khtml-opacity: 0.4 !important;
}
#cboxLoadedContent{margin-bottom:0;}
#colorbox{z-index:15000;}

/* Video Lightbox */
#video-container{height:432px; padding:0; background:#fff;}
#video-container .closeWrap{height:30px;}
#video-container .closeWrap #cboxClose{float:right; width:30px; height:30px; text-indent:-9999px; overflow:hidden;
	background:url(/images/lb-close.gif) 0 0 no-repeat; }
#video-container #lb_video_embed{height:372px; margin:0 30px; }
	#lb_video_transcript{height:372px; overflow:auto; display:none;}

#video-container h3{font-size:1em; font-weight:bold; margin-bottom:1.286em;}
#video-container p{margin-bottom: 1.286em;}
#video-container p.transcript_link{text-align:right; margin-bottom:0; margin-right:30px; padding-top:0.3em; }
#video-container a.text_link{padding-right:19px; background:url(/images/arrow-right.gif) right 4px no-repeat;}
#video-container a.text_link:hover{background-position:right -29px;}
#video-container p.video_link a.text_link{padding:0 0 0 19px; background: url(/images/arrow-left.gif) 0 4px no-repeat;}
#video-container p.video_link a.text_link:hover{background-position:0 -29px;}
/******** Filter Results ***********/

.results #rhs .lng_content h1.pagination_text {
    display: none;
}
.results #rhs .lng_content .result {
    margin-bottom: 10px;
    background: white;
    overflow: hidden;
}
@media screen and (max-width: 767px) {
   .results #rhs .lng_content .result{
	    position:relative;
    }
}

@media screen and (min-width: 767px) {
   .results #rhs .lng_content .result {
        height: auto;
    }
}

.results #rhs .lng_content .result .text {
    padding: 16px 20px 2px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

@media screen and (min-width: 768px) {
   .results #rhs .lng_content .result .text {
	    float: left;
	    width: 76%;
        padding: 16px 20px 2px 20px;
    }
}
@media screen and (max-width: 767px) {
   #content.results #rhs .lng_content .result .text p{
	    width: 75%;
    }
}

.results #rhs .lng_content .result .text.noImage {
    width: 630px
}
.results #rhs .lng_content .result img.thumb {
    float: right;
    width: 130px;
}
@media screen and (max-width: 767px) {
    .results #rhs .lng_content .result img.thumb {
        width: 90px;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 0;
    }
    .results #rhs .lng_content .result.outdoor .text {
        width: 75%;
        padding-bottom: 16px;
    }

}
.results #rhs .lng_content .result h2 {
    font-size: 2.143em;
    color: #006335;
    text-transform: uppercase;
}
@media screen and (max-width: 767px) {
    .results #rhs .lng_content .result h2 {
        font-size: 1.743em;
        white-space: normal;
    }

}

.results #rhs .lng_content .result h2 a {
    text-decoration: none;
    white-space: normal;
}
.results #rhs .lng_content .result h2 a:hover {
    color: #333;
}
.results #rhs .lng_content .result ul.categories {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 0.857em;
    margin-bottom: 1em;
}
.results #rhs .lng_content .result ul.categories li {
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 11px 0 0;
    color: #666;
    background: url(/images/cat-div.gif) right center no-repeat;
}
.results #rhs .lng_content .result ul.categories li.last {
    background: none;
    padding-right: 0;
}
.results #rhs .lng_content .result ul.categories li a {
    color: #666;
    text-decoration: none;
}
.results #rhs .lng_content .pagination {
    background: #fff;
    text-align: center;
    padding: 6px 12px;
    margin-bottom: 10px;
    position: relative;
}
.results #rhs .lng_content .pagination a.view_more {
    padding-right: 19px;
    background: url(/images/more-arrow.gif) right 4px no-repeat;
    cursor: pointer;
}
.results #rhs .lng_content .pagination a.view_more:hover {
    background-position: right -29px;
}
.results #rhs .lng_content .pagination a.view_all {
    position: absolute;
    right: 12px;
    top: 8px;
    font-size: 0.857em;
    cursor: pointer;
}
.results #rhs .lng_content .pagination a:hover {
    color: #333;
}

.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }
.hidden { display:none; visibility:hidden; } 
.visuallyhidden { 
position:absolute !important;    
clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clr{clear:both;}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; } 
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; } 



/******* Screen reader only ***********/


.sr-only {
  display: none;
}

@media speech {
  .sr-only {
    display: block;
  }
}

/******** Search Results ***********/


.search-result-cover #content #foot_nav li {
    background: url(/images/foot-div.gif) right center no-repeat;
}

.results #rhs .lng_content .standard {height:auto; overflow:visible;}
.results #rhs .lng_content .standard .text{padding:13px 20px 1px; float:none; width:auto;}
.ie6 .results #rhs .lng_content .standard .text,
.ie7 .results #rhs .lng_content .standard .text{zoom:1;}
.results #rhs .lng_content .result h2{white-space: nowrap;}

@media screen and (max-width: 767px) {
    .results #rhs .lng_content .result h2 {
        white-space: normal;
    }

}

.results #rhs .lng_content .result{display: none;}
.results #rhs .lng_content .result.result_shown{display: block;}
#aspnetForm #searchForm.search_form{
    display: inline;
    width: auto;
    position: relative;
    padding-left: 10px;
    margin-bottom: 20px;
    border-bottom: none;
}
#aspnetForm #searchForm {
    float: left;
    max-width: 100%;
}

@media screen and (max-width: 767px) {
    #aspnetForm #searchForm.search_form {
        margin-top: 0;
        margin-right: 0;
        padding-right: 0;
        width: 92%;
        margin-bottom: 0;
        border-bottom: none;
    }
    #aspnetForm #searchForm.search_form label {
        width: 100%;
        clear: both;
        margin-bottom: 10px;
    }
    #aspnetForm #searchForm.search_form input.inputText {
        width: 60%;
    }
    #aspnetForm #searchForm.search_form input.inputBtn {
        float: left;
    }
}


@media screen and (max-width: 480px) {

    .search-result-cover #content #foot_nav li {
        background: none;
    }

}

.sitemap #rhs .lng_content .panel{margin-bottom:20px;}
.sitemap #rhs .lng_content .panel h2{margin-bottom:0.65em;}
.sitemap #rhs .lng_content .panel .col_1{float:left; width:196px; margin-right:20px; display:inline;}
.sitemap #rhs .lng_content .panel .col_2{float:left; width:196px; margin-right:20px; display:inline;}
.sitemap #rhs .lng_content .panel .col_3{float:left; width:196px;}
.sitemap #rhs .lng_content .panel ul{}
.sitemap #rhs .lng_content .panel ul li{padding-left:0; background:none; margin-bottom:0.15em;}
.sitemap #rhs .lng_content .panel ul li a{text-decoration:none;}


/*********************** Home page Sprite *******************/


.home-sprite { background: url('/images/sprites/home-sprite.png') no-repeat;
width: 11px;
height: 44px;
}
.home-sprite.logo-sprite {
	background-position: 0 0;
	width: 169px;
	height: 77px;
}
.home-sprite.hamburger-open {
	background-position: 0 -87px;
	width: 44px;
}
.home-sprite.hamburger-close {
	background-position: 0 -141px;
	width: 44px;
}
.home-sprite.search-btn {
	background-position: 0 -195px;
	width: 25px;
	height: 25px;
}
.home-sprite.link-arrow-over {
	background-position: 0 -230px;
	height: 11px;
}
.home-sprite.link-arrow {
	background-position: 0 -251px;
	height: 11px;
}
.home-sprite.slide-arrows {
	background-position: 0 -272px;
	width: 60px;
	height: 100px;
}
.home-sprite.drinkaware-logo {
	background-position: 0 -382px;
	width: 88px;
	height: 20px;
	margin-top: 2px;
}
.home-sprite.foot-overlay {
	background-position: 0 -412px;
	width: 329px;
	height: 130px;
}
.home-sprite.foot-div {
	background-position: 0 -552px;
	width: 1px;
	height: 8px;
}
.home-sprite.bg-overlay-tile {
	background-position: 0 -570px;
	width: 27px; height: 27px;
}
.home-sprite.arrow-right {
	background-position: 0 -607px;
}
.home-sprite.arrow-left {
	background-position: 0 -661px;
}
.home-sprite.slide-indicator {
	background-position: 0 -715px;
	width: 20px;
	height: 10px;
}






.youtube-video {
	width: 100%;
	/*height: 250px !important;*/
	max-width: 660px;
	max-height: 372px;
}


/******** Media Queries for Mobile ***********/

@media all and (orientation:portrait) { 
  /* Style adjustments for portrait mode goes here */
  
}

@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
  
}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  
  
  /* Prevent iOS, WinMobile from adjusting font size */
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } 
}

/******** Print Media Styles ***********/


@media print {
	* {text-shadow: none; }
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }  
	img { page-break-inside: avoid; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3{ page-break-after: avoid; }
	
	#nav,
	#search_form,
	#bg_container,
	#slide_controls,
	#slide_content .floater,
	#content .sub_nav,
	#rhs .page_functions,
	#rhs .nav_strip .prev_next,
	#foot_nav li{display:none !important;}  
	
	#content.moire{background:none;}
	
	#header{z-index:1020; background:none;}
	#logo{float:none; position:absolute; right:0; top:14px; z-index:2000;}
	#main{padding:10px 0 55px;}
	#rhs{width:700px; float:none;}
	#rhs .intro{ margin-top:0;}
	#rhs .std_content{margin:0 !important;}
	#rhs .lng_content{margin:0 !important; float:left;}
	#footer{border-top: 1px solid #E5E5E5;}
	#foot_nav li:first-child{display:inline !important; background:none;}
	#footer small{top:6px; left:100px;}
	
	#rhs .std_content h1{padding-top:0;}
	h1{color:#006335 !important; letter-spacing:normal !important; font-family:sans-serif !important;}
	h2{letter-spacing:normal !important; font-family:sans-serif !important;}
	#video_embed iframe,#lb_video_embed iframe{display:none;}

}



/******** Media Queries for Tablet ***********/


/******** Calender Navigation Styles ***********/


#backnav.sub_nav{font-family: "TradeGothicW01-BoldCn20_675334", Arial, sans-serif; font-weight:normal; top:125px;}
	.ie6 #backnav.sub_nav{position:absolute; top:41px;}
	#backnav.sub_nav li{font-size:1.286em;}
	#backnav.sub_nav li a{padding: 6px 11px;}
	#backnav.sub_nav li a img{position:relative; top:-1px;}
	#backnav.sub_nav li a.active,
	#backnav.sub_nav li a.active:hover{background:#006335; color:#fff; padding-left:16px;}

/******** Static Navigation Styles ***********/

#default.sub_nav{font-family: "TradeGothicW01-BoldCn20_675334", Arial, sans-serif; font-weight:normal;}
#default.sub_nav li{font-size:1.286em;}
#default.sub_nav li a{padding: 6px 11px;}
#default.sub_nav li a.active,
#default.sub_nav li a.active:hover{background:#006335; color:#fff; padding-left:16px;}

/******** Sub Navigation Styles ***********/

#content .sub_nav {
	position:fixed;
	top:120px;
	left:0;
	font-family:"Trebuchet MS", sans-serif;
	font-weight:bold;
	max-width:200px;
}
#default.sub_nav {
    font-family: "TradeGothicW01-BoldCn20_675334", Arial, sans-serif;
    font-weight: normal;
}
.ie6 #content .sub_nav {
	position:absolute; top:110px;
}
#content .sub_nav li {
	font-size:0.857em;
	text-transform:uppercase;
	clear:left; padding:0;
	background:none;
}
#content .sub_nav li a {
	float:left;
	padding: 5px 7px;
	margin-bottom:5px;
	background:#fff;
	text-decoration:none;
	outline:none;
}
#content .sub_nav li a:hover {
	background:#fff;
	color:#333;
}
#content .sub_nav li a.active,
#content .sub_nav li a.active:hover {
	background:#006335;
	color:#fff;
	padding-left:12px;
}


@media screen and (max-width: 767px) {
    #content .sub_nav{position:initial;}
}

.ie6 #content .sub_nav {
	position: absolute;
	top: 110px;
}

#content .sub_nav li {
	font-size: 0.857em;
	text-transform: uppercase;
	clear: left;
	padding: 0;
	background: none;
}

#content.about .sub_nav li {
	font-size: 1.286em;
}

#content .sub_nav li a {
	float: left;
	padding: 5px 7px;
	margin-bottom: 5px;
	background: #fff;
	text-decoration: none;
	outline: none;
	display: inline-block;
	margin-right: 5px;
}

#content .sub_nav li a:hover {
	background: #fff;
	color: #333;
}

#content .sub_nav li a.active,
#content .sub_nav li a.active:hover {
	background: #006335;
	color: #fff;
	padding-left: 12px;
}

@media screen and (max-width: 900px) {

	#content .sub_nav {
		position: relative;
		max-width: 100%;
		top: 20px;
		left: 20px;
		right: 20px;
	}

	#content .sub_nav li {
		display: inline;
		clear: none;
		float: left;
	}

	#content .sub_nav li a.active,
	#content .sub_nav li a.active:hover {
		padding-left: 7px;
	}
}

@media screen and (max-width: 767px) {

	#content .sub_nav {
		max-width: 100%;
		position: relative;
		top: 0;
		left: 0;
		right: 0;
	}

	#content .sub_nav li a.active,
	#content .sub_nav li a.active:hover {
		padding-left: 7px;
	}

	/*#content .sub_nav li {
		display: inline;
		clear: none;
		float: left;
	}*/
}


/*
@import 'base/base.css';

@import 'forms/base-form.css';
@import 'forms/registration-form.css';
@import 'forms/search-form.css';

@import 'layout/about.css';
@import 'layout/data-third-party.css';
@import 'layout/footer.css';
@import 'layout/header.css';
@import 'layout/layout.css';
@import 'layout/logo.css';
@import 'layout/long-content-page.css';
@import 'layout/registration-page.css';
@import 'layout/right-side-content.css';
@import 'layout/short-content-page.css';
@import 'layout/slideshow.css';
@import 'layout/top-menu.css';

@import 'modules/colorbox.css';
@import 'modules/filter-results.css';
@import 'modules/helper.css';
@import 'modules/search-results.css';
@import 'modules/sitemap.css';
@import 'modules/sprite.css';
@import 'modules/youtube-video.css';

@import 'mq/mobile.css';
@import 'mq/print.css';
@import 'mq/tablet.css';

@import 'navigation/calender-navigation.css';
@import 'navigation/static-navigation.css';
@import 'navigation/sub-navigation.css';

@import 'font.css';
*/

/**************** Base Styles ********************/
/*
@import 'base/base.css';
@import 'font.css';
*/

/**************** Layout Styles ********************/
/*
@import 'layout/header.css';
@import 'layout/top-menu.css';
@import 'layout/logo.css';
@import 'layout/footer.css';
@import 'layout/layout.css';
@import 'layout/slideshow.css';
@import 'layout/about.css';
@import 'layout/short-content-page.css';
@import 'layout/long-content-page.css';
@import 'layout/right-side-content.css';
@import 'layout/registration-page.css';
@import 'layout/data-third-party.css';
*/

/**************** Navigation ********************/
/*
@import 'navigation/calender-navigation.css';
@import 'navigation/static-navigation.css';
@import 'navigation/sub-navigation.css';
*/

/**************** Forms Styles ********************/
/*
@import 'forms/base-form.css';
@import 'forms/registration-form.css';
@import 'forms/search-form.css';
*/


/**************** Modules Styles ********************/
/*
@import 'modules/sprite.css';
@import 'modules/colorbox.css';
@import 'modules/filter-results.css';
@import 'modules/helper.css';
@import 'modules/search-results.css';
@import 'modules/sitemap.css';
@import 'modules/youtube-video.css';
*/


/**************** Media Queries ********************/
/*
@import 'mq/mobile.css';
@import 'mq/print.css';
@import 'mq/tablet.css';
*/