

/******** Calender Navigation Styles ***********/


#backnav.sub_nav{font-family: "TradeGothicW01-BoldCn20_675334", Arial, sans-serif; font-weight:normal; top:125px;}
	.ie6 #backnav.sub_nav{position:absolute; top:41px;}
	#backnav.sub_nav li{font-size:1.286em;}
	#backnav.sub_nav li a{padding: 6px 11px;}
	#backnav.sub_nav li a img{position:relative; top:-1px;}
	#backnav.sub_nav li a.active,
	#backnav.sub_nav li a.active:hover{background:#006335; color:#fff; padding-left:16px;}