
/******** Static Navigation Styles ***********/

#default.sub_nav{font-family: "TradeGothicW01-BoldCn20_675334", Arial, sans-serif; font-weight:normal;}
#default.sub_nav li{font-size:1.286em;}
#default.sub_nav li a{padding: 6px 11px;}
#default.sub_nav li a.active,
#default.sub_nav li a.active:hover{background:#006335; color:#fff; padding-left:16px;}