/******** Sub Navigation Styles ***********/

#content .sub_nav{position:fixed; top:120px; left:0; font-family:"Trebuchet MS", sans-serif; font-weight:bold; max-width:200px;}
.ie6 #content .sub_nav{position:absolute; top:110px;}
#content .sub_nav li{font-size:0.857em; text-transform:uppercase; clear:left; padding:0; background:none;}
#content .sub_nav li a{float:left; padding: 5px 7px; margin-bottom:5px; background:#fff; text-decoration:none; outline:none;}
#content .sub_nav li a:hover{background:#fff; color:#333;}
#content .sub_nav li a.active,
#content .sub_nav li a.active:hover{background:#006335; color:#fff; padding-left:12px;}