

/******** Generic Forms Styles ***********/

input.inputText{font:14px Georgia, "Times New Roman", Times, serif; line-height:1.28; color:#999; padding:6px 14px;
border-top:1px solid #ccc; border-left:1px solid #ebebeb; border-right:1px solid #ebebeb; border-bottom:1px solid #f2f2f2;}
input.inputCheck{border-top:1px solid #ccc; border-left:1px solid #ebebeb; border-right:1px solid #ebebeb; border-bottom:1px solid #f2f2f2;}
.ie6 input.inputCheck,
.ie7 input.inputCheck,
.ie8 input.inputCheck{border-style:none !important;}
select,
option{font:14px Georgia, "Times New Roman", Times, serif; line-height:1.28; color:#333; }
select{border-top:1px solid #ccc; border-left:1px solid #ebebeb; border-right:1px solid #ebebeb; border-bottom:1px solid #f2f2f2; padding:6px 8px 6px 10px;}
input.inputBtn{margin:1.5em 0 1em;}