

/******** Registration Forms Styles ***********/

.reg_form{}

.reg_form .group{display:block; border-bottom:1px solid #e5e5e5; margin-bottom:1.5em;}
.ie6 .reg_form .group{padding-top:0.2em;}
.reg_form .clr{display:block; padding-bottom:1em; height:0; line-height:0;}
.reg_form label.input{float:left; width:142px; display:inline; margin-right:12px; text-align:right;}
.reg_form label.inputLeft{float:left; width:122px; display:inline; text-align:left;}
.reg_form label.inputLong{float:left; width:440px; display:inline; text-align:left;}

.reg_form input.inputText{font:14px Georgia, "Times New Roman", Times, serif; line-height:1.2; color:#999; padding:3px 8px 4px; margin-top:-0.2em;
border-top:1px solid #c2c2c2; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; border-bottom:1px solid #fbfbfb; background-color:#f2f2f2;}
.reg_form input.inputCheck{border-top:1px solid #c2c2c2; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; border-bottom:1px solid #fbfbfb; margin-top:-0.1em;}
.reg_form input.inputRadio{margin-top:-0.3em;}
.reg_form select,
.reg_form option{font:14px Georgia, "Times New Roman", Times, serif; line-height:1.28; color:#333; background-color:#f2f2f2;}
.reg_form select{border-top:1px solid #c2c2c2; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; border-bottom:1px solid #fbfbfb; padding:2px 3px 2px 6px;
margin-top:-0.2em;}

.reg_form .buttonWrapper{text-align:right; margin:1.5em 0 1em;}
.reg_form .buttonWrapper .prevbutton{float:left;}
.reg_form .nextbutton,
.reg_form .prevbutton{cursor:pointer;}

.reg_form input.warning,
.reg_form select.warning{border:1px solid red;}
.reg_form input[type="radio"].warning{border:none;}
.reg_form span.warning3{border:1px solid red; padding:3px;}
.reg_form label.warning{color:red; display:block; margin-left:154px; margin-bottom:0.5em;}
.reg_form span.warning{color:red; display:block; margin-left:154px; margin-bottom:0.5em;}
.reg_form span.warning2{color:red; margin-left:154px; margin-bottom:0.5em;}

.reg_form #sf3 label.warning{margin-left:122px;}
.reg_form #sf3 fieldset.group label.warning{margin-left:0; margin-right:20px; text-align:right;}
.reg_form #sf3 p{color:#666;}

	/* individual field styling */
	.reg_form .inputTitle{width:65px; display:inline; margin-right:10px; float:left;}
	.reg_form .inputFirstname{width:135px; display:inline; margin-right:10px; float:left;}
	.reg_form .inputLastname{width:135px; float:left;}
	
	.reg_form .inputDay,
	.reg_form .inputMonth{width:29px; display:inline; margin-right:10px; float:left; text-align:center;}
	.reg_form .inputYear{width:44px; float:left; text-align:center;}
	
	.reg_form .inputAddress1,
	.reg_form .inputAddress2{width:136px; display:inline; margin-right:10px; float:left;}
	.reg_form .inputTown{width:136px; float:left;}
	.reg_form .inputPostcode{width:136px; display:inline; float:left; margin-left:154px; margin-right:10px;}
	.reg_form .inputCountry{width:136px; float:left;}
	
	.reg_form label.checkbox{display:inline; float:left; margin-left:154px;}
	
	.reg_form .inputEmail{width:210px; display:inline; margin-right:10px; float:left;}
	.reg_form .inputConfirmEmail{width:210px; float:left;}
	
	.reg_form .inputMobile{width:210px;}
	
	.reg_form .selectGinis,
	.reg_form .selectAsforgin{width:536px;}
	
	.ie6 .reg_form .selectGinis,
	.ie6 .reg_form .selectAsforgin{width:530px;}
	
	.reg_form label.floatCheck{float:left; display:inline; padding-right:1.5em; margin-right:16px; position:relative; text-align:right;}
	.reg_form label.floatCheck input.inputCheck{position:absolute; top:0.35em; right:0;}
	.reg_form .HearAboutGordons {float:right; }
    .errorMobileMessage {color:Red;float:right;padding-right:19px;}