

/******** Search Forms Styles ***********/

.search_form{padding:20px 15px;}
.search_form label{float:left; width:102px; margin-top:0.4em;}
.search_form input.inputText{font:14px Georgia, "Times New Roman", Times, serif; line-height:1.2; color:#333; padding:5px 8px 6px; margin:0; width:436px;
	border-top:1px solid #c2c2c2; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; border-bottom:1px solid #fbfbfb; background-color:#f2f2f2;
	float:left;}
.search_form input.inputBtn{margin:0; float:right;}

/* floaters */
#floater{position:absolute; top:170px; left:4%;}
.registration #floater{top:170px; left:4%;}