<div class="std_content" id="infoPage">
    <h1>Privacy & Cookie Notice</h1>
    <div>
        <p>This <span>Privacy and Cookie Notice</span> provides a high-level overview of our full <span>Privacy and Cookie Notice</span>. It summarises important information regarding how we collect, use, and share any personal information collected. This Privacy and Cookie Notice applies to personal information collected through this website <a href="/">http://www.gordons-gin.co.uk</a> which is operated by Diageo plc - the world’s leading premium drinks business - or one of its group of companies. Gordon’s is one of Diageo’s outstanding collection of beverage alcohol brands.</p>
        <h2><br />1. INTRODUCTION</h2>
        <ul>
            <li>Click <a href="#intro">here</a> for more information about Diageo plc.</li>
        </ul>
        <h2>2. ARE YOU OF LEGAL PURCHASE AGE?</h2>
        <ul>
            <li>Do<span> not </span>provide us with your personal information if you are not of legal age to purchase alcohol.</li>
            <li>If we believe that you are under the legal purchase age we will make every reasonable effort to remove your personal information from our records.</li>
        </ul>
        <h2>3. WHAT IS PERSONAL INFORMATION?</h2>
        <ul>
            <li>Personal information is information about an identifiable individual, as defined by applicable law.</li>
        </ul>
        <h2>4. DIAGEO'S COLLECTION AND USE OF PERSONAL INFORMATION</h2>
        <ul>
            <li>We collect personal information that you choose to provide. This includes information provided when registering with our websites, contacting us, completing surveys or questionnaires, entering competitions, and posting information on public areas of our websites.</li>
            <li>Through your use of this and other Diageo websites (including by browsing such sites) you may provide us with personal information such as your name, contact details, personal preferences, and details of your website use.</li>
            <li>By doing so, you are agreeing to our use of that information as set out in this Privacy and Cookie Notice and our full Privacy and Cookie Notice.</li>
            <li><span><span>If you do not agree to these conditions, please do not provide us with this information, or please let us know your objections using the contact details below. </span>
                <br />
                </span>
            </li>
        </ul>
        <br />
        <h2>5. USE OF COOKIES ON OUR WEBSITES</h2>
        <p>We also collect information using common Internet technologies such as “<span>cookies</span>” and “<span>clear gifs</span>” (also known as “<span>web bugs</span>” or “<span>web beacons</span>”).</p>
        <ul>
            <li>Click <a href="#cookies">here</a> for more information about Diageo plc.</li>
        </ul>
        <h2>6. USE OF PERSONAL INFORMATION</h2>
        <p>We will only use the personal information we collect to provide you with specific information and services that you request, and with additional information and services that may be of interest to you.</p>
        <h2>7. DISCLOSURE OF PERSONAL INFORMATION</h2>
        <ul>
            <li>This may involve sharing your personal information with <span>non-Diageo companies</span> that provide services to Diageo companies and certain <span>other third parties</span>, but only where they offer adequate protection for your information and, in certain cases, only where you have provided your consent.</li>
            <li>In some cases, this may involve <span>transferring your personal information to other countries</span> (including the U.K., the U.S., Canada and other countries inside and outside the European Economic Area) where Diageo or non-Diageo companies or other third parties operate and process your personal information.</li>
            <li><span>By providing any personal information to us, you fully understand and clearly consent to such use and transfers as set out in this Privacy and Cookie Notice and our full Privacy and Cookie Notice.</span></li>
        </ul>
        <h2>8. PUBLIC (OR INTERACTIVE) AREAS OF OUR WEBSITES</h2>
        <ul>
            <li>Information that you post on or through the public areas of the site (e.g. chat rooms, bulletin boards and discussion groups) are generally accessible to, and may be collected and used by, others.</li>
        </ul>
        <h2>9. SECURITY</h2>
        <ul>
            <li>We take security seriously and take precautions to keep your personal information secure. We have put in place appropriate physical, electronic and managerial procedures to safeguard the information we collect.</li>
            <li>We have no control over the privacy of any communications while in transit to us. We recommend that you not include confidential, proprietary or sensitive information in such communications.</li>
        </ul>
        <h2>10. UNSUBSCRIBE, ACCESS, QUESTIONS AND FURTHER INFORMATION</h2>
        <ul>
            <li>At your request, and where required by law, we will confirm, share, and/or update the personal information we hold about you. However, to protect your privacy we may first have to verify your identity.</li>
            <li>At any time you can choose to make an <span>unsubscribe request</span> to stop receiving marketing information.</li>
            <li>If you would like to unsubscribe from communications from Diageo or about Diageo brands, please contact: <a href="mailto:gordons@diageo.com">gordons@diageo.com</a></li>
        </ul>
        <h2>CONTACT US</h2>
        <p>If you have any comments, queries, or complaints about our collection or use of personal information please contact us via:</p>
        <ul>
            <li><span>Post</span>: Data Privacy Officer, Corporate Centre Legal Team, Diageo plc, Lakeside Drive, Park Royal, London, NW10 7HQ</li>
        </ul>
        <p> </p>
        <h2 id="intro">PRIVACY AND COOKIE NOTICE</h2>
        <p><strong>1. Introduction</strong></p>
        <p>This website is operated by a member of the Diageo group of companies, the ultimate holding company of which is Diageo plc (registered in England and Wales with company number 23307 and registered address at Lakeside Drive, London, NW10 7HQ, United Kingdom).
            <br />
            <br />All references to 'our', 'us', 'we', or ‘company’ within this policy and within the opt-in notice are deemed to refer to Diageo plc, its subsidiaries, affiliates, and/or associates, as appropriate.
            <br />
            <br />We endeavour to protect your personal privacy. We provide this Privacy and Cookie Notice to help you to understand what we may do with any personal information that we obtain from you. By providing your personal information to us, you signify your acceptance of our Privacy and Cookie Notice and agree that we may collect, use, and disclose your personal information as described in this Privacy and Cookie Notice. If you do not agree to this Notice, please do not provide your personal details to us. This Privacy and Cookie Notice is incorporated into, and part of, the <a href="terms-and-conditions.html" title="Terms and Conditions">Terms and Conditions</a> that govern your use of the site in general. We will use your information only for the purposes set forth below.
            <br />
            <br />We may need to update this Privacy and Cookie Notice from time to time. We recommend that you check this page regularly to ensure that you have read the most recent version.
            <br />
            <br />Changes to the Privacy and Cookie Notice are noted here:
            <br />
            <br />Date last revised: 19 September 2011
            <br />
            <br />Description of substantive revisions:
            <br /><span>Section 3 – Description of personal information</span>
            <br /><span>Section 4 – Description of how personal information is collected</span>
            <br /><span>Section 5 – Use of cookies and clear gifs</span>
            <br /><span>Section 6 – Description of how personal information is used</span>
            <br /><span>Section 7 – Description of how personal information is shared</span>
            <br /><span>Section 8 – Posting of information in public forums</span>
            <br /><span>Section 10 – Changes to your privacy preferences </span>
            <br /><span>Section 12 – Description of use of links, references, interfaces, and content from </span>
            <br /><span>third-party sites</span></p>
        <p><span><strong>2. Legal purchase age</strong><br /></span></p>
        <p>You must not provide us with your personal information if you are not of legal age to purchase alcohol in the jurisdiction in which you reside and (if different) in the jurisdiction in which you are accessing the site. We do not intend to collect personal information from any individuals under the legal purchase age, or to market alcoholic beverages to anyone under the legal purchase age. If we receive notice or believe that someone under the legal purchase age has provided us with personal information we will make every reasonable effort to remove such personal information from our files, or to flag such personal information and (to the extent permitted by law) retain it for the sole purpose of ensuring that it is no longer used.</p>
        <p><span><strong>3. What is personal information?</strong><br /></span></p>
        <p>Personal information is information about an identifiable individual, as defined by applicable law.</p>
        <p><span><strong>4. Collecting personal information</strong><br /></span></p>
        <p>It is your choice to provide us with personal information. We will only collect personal information that you choose to provide. In certain instances, we may provide you with the option to select whether you would like to receive information from us or from trusted third parties (for example, by choosing to opt in or opt out of receiving special promotional offers). In some circumstances, you will not have the option to opt out, such as when we are satisfying the obligations of a contract with you, administering a transaction requested by you, or required by law.</p>
        <p>You may choose to provide us with personal information if, for example, you: contact us with an enquiry; register on the site; forward an item to a friend; purchase an item; fill out a survey or other form with your personal information included; ask us to provide you with information; enter a competition; post information to public areas of the site; or take advantage of a promotion.
            <br />
            <br />By providing any personal information to us, you fully understand and clearly consent to the transfer of such personal information to, and the collection and processing of such information in, other countries or territories. Any such transfer and processing by us will be in accordance with this Privacy and Cookie Notice.</p>
        <p id="cookies"><span><strong>5. Cookies</strong><br /></span></p>
        <p>Like many other websites, we use "cookies" to help us gather and store information about visitors to our websites.</p>
        <p>A cookie is a text-only string of information that a website transfers to the cookie file of the browser on your computer's hard disk so that the website can remember who you are.</p>
        <p>A cookie will typically contain the name of the domain from which the cookie has come, the "lifetime" of the cookie, and a value, usually a randomly generated unique number.</p>
        <p><span><span>What types of cookies are used on this site?</span>
            <br />
            </span>
        </p>
        <p>Types of cookies which may be used on this website;</p>
        <ol>
            <li>Preference Cookie – At your request we may place a cookie to remember your preferences so that you do not need to re-enter your details (country/age and language preferences) on our gateway page. This is not suitable if you share your computer with someone else.</li>
            <li>Social Sharing – This is a cookie that identifies you with social networking sites such as Facebook and Twitter and allows interaction between your activity on social networking sites and on our website through your direction, and makes your transition between the sites more seamless.</li>
            <li>Site Analystics - We use Google Analytics to help analyse use of our website. This analytical tool uses 'cookies', which are text files placed on your computer, to collect standard internet log information and visitor behaviour information in an anonymous form. The information generated by the cookie about your use of the website (including your IP address) is transmitted to Google. This information is then used to evaluate visitors’ use of the website and to compile statistical reports on website activity. To opt out of being tracked by Google Analytics across all websites visit <a href="http://tools.google.com/dlpage/gaoptout" target="_blank">http://tools.google.com/dlpage/gaoptout</a>. Session Cookies - We use session cookies, which are temporary cookies that cookies aid the user journey around the site, and will remember preferences you have selected during the session. These cookies are deleted as soon as you leave the site.</li>
            <li>Content Management cookies – These are cookies required by the site for the content management system to work.</li>
            <li>Template preference cookies – These cookies are necessary for mobile sites and enable the site to look and feel the way it is intended to.</li>
        </ol>
        <p> </p>
        <p><span><strong>How do I disable/enable cookies?</strong><br /></span></p>
        <p>You have the ability to accept or decline cookies by modifying the settings in your browser. However, you may not be able to use all the interactive features of our site if cookies are disabled.
            <br />
            <br />There are a number of ways to manage cookies. Please refer to your browser instructions or help screen to learn more about these functions. For example, in Internet Explorer, you can go to the Tools/Internet options/Security and Privacy Tabs to adapt the browser to your expectations. If you use different computers in different locations you will need to ensure that each browser is adjusted to suit your cookie preferences.
            <br />Some modern browsers have a feature that will analyse website privacy policies and allow a user to control their privacy needs. These are known as 'P3P' features (Privacy Preferences Platform).
            <br />
            <br />You can easily delete any cookies that have been installed in the cookie folder of your browser. For example, if you are using Microsoft Windows Explorer:</p>
        <ul>
            <li>open 'Windows Explorer'</li>
            <li>click on the 'Search' button on the tool bar</li>
            <li>type "cookie" into the search box for 'Folders and Files'</li>
            <li>select 'My Computer' in the 'Look In' box</li>
            <li>click 'Search Now' Double click on the folders that are found</li>
            <li>'Select' any cookie file</li>
            <li>hit the 'Delete' button on your keyboard</li>
        </ul>
        <p>If you are not using Microsoft Windows Explorer, then you should select 'cookies' in the 'Help' function for information on where to find your cookie folder.</p>
        <p><span><strong>6. Use of personal information</strong><br /></span></p>
        <p>We may use personal information collected from you to provide specific services that you request, as well as to provide additional services that may be of interest. For example, we may use your personal information in the following ways:
            <br />
            <br /><span><span>Marketing Communications</span>.</span> We may use your personal information to communicate with you about our products and services, and those of our subsidiaries, affiliates, and parent companies, and any of their related businesses.
            <br />
            <br /><span><span>Marketing analysis</span>.</span> We may use your personal information for internal marketing analysis, for example, to assess trends amongst our consumers or to measure the amount of traffic to our websites.
            <br />
            <br /><span><span>Transactional purposes</span>.</span> We may use your personal information to respond to your queries and requests, maintain your accounts, and manage transactions such as credit card payments for any goods that you order from us or our agents, or for the fulfilment of such transactions (e.g., delivery).
            <br />
            <br /><span><span>Forward to a friend</span>.</span> When you provide us with information regarding another individual, such as when you request that we send someone information from one of our websites, we will send that individual only the information you specifically requested that we send. We will not send them additional communications based on your providing us with their information. You must certify that your friend is of Legal Purchase Age in the jurisdiction where he/she is located in order for us to transmit the requested information.</p>
        <p><span><strong>7. Discolsure of personal information</strong><br /></span></p>
        <p>We value your personal information and only share it with third parties that provide it with adequate protection. From time to time we may disclose personal information to:</p>
        <p>(a) third parties to whom you have provided your consent;</p>
        <p>(b) our service providers and subcontractors, including our affiliates, retained to perform functions on our behalf, or to provide services to us (such as warehousing and delivery; marketing and advertising; credit card and data processing; age verification; software development; website hosting and management; information technology and office services; legal, accounting, audit and other professional service providers; and other services related to our business), provided such service providers and subcontractors do not collect, use, or disclose the personal information for any purpose other than to perform such functions on our behalf, to provide services to us, or as otherwise required by law;</p>
        <p>(c) third parties who, in our reasonable judgment, are providing or seeking the information as your authorized or appointed legal agent; or</p>
        <p>(d) carefully selected third parties, including our affiliates, to send you third party marketing and promotional information that may be of interest. In such circumstances these organizations may be bound by confidentiality obligations and restrictions on the use of your personal information. We will obtain your express permission before we allow a third party that is not an affiliate to send you any such marketing and promotional information;</p>
        <p>(e) a person or entity, including our affiliates, in the event of a sale, merger, consolidation, change in control, transfer of substantial assets, financing, reorganization, or liquidation whereby we transfer, sell, or assign to such third party information concerning your relationship with us, including without limitation, personally identifiable information that you provide and other information concerning your relationship with us; and</p>
        <p>(f) law enforcement, governmental or regulatory agencies, or other third parties in order to comply with applicable law, or where we believe such action is necessary in order to comply with applicable law, or to detect, protect, or defend us and/or other third parties against error, negligence, breach of contract, theft, fraud, or other illegal or harmful activity, to comply with our audit and security requirements, or to audit compliance with our corporate policies, procedures, legal, or contractual obligations.</p>
        <p><span><strong>8. Public (or Interactive) areas of our websites</strong><br /></span></p>
        <p>Information that you post on or through the public areas of the site (e.g., chat rooms, bulletin boards, discussion groups, or Social Networking modules) generally is accessible to, and may be collected and used by, others, and may result in unsolicited messages or other contact from others. You should not provide personal information about yourself in public (or interactive) areas of the site. Such personal information is not covered under this Privacy and Cookie Notice.</p>
        <p><span><strong>9. Security</strong><br /></span></p>
        <p>We take security seriously and take precautions to keep your personal information secure. We have put in place appropriate physical, electronic, and managerial procedures to safeguard the information we collect. however, we have no control over the privacy of any communications while it is in transit to us. We therefore recommend that you not include confidential, proprietary, or sensitive information in any such communications.
            <br />
            <br />In the unlikely event that we believe that the security of your personal information in our possession or control may have been compromised, we may seek to notify you of that development. If such a notification is appropriate, we will endeavour to do so as promptly as possible under the circumstances, and, to the extent we have your email address, we may notify you by email.
            <br />
            <br />You are reminded that, in accordance with the Terms and Conditions for this website, which include this Privacy and Cookie Notice, you are responsible for maintaining the strict confidentiality of your account password, and you are responsible for any activity under your account and password. It is your sole responsibility to control the dissemination and use of your password, control access to and use of your account, and notify us when you wish to cancel your account. We will not be responsible or liable for any loss or damage arising from your failure to comply with this obligation.</p>
        <p><strong>10. Unsubscribe, access, questions and further information</strong></p>
        <p>At your request and where the law requires us to do so, if you contact us using the unsubscribe details provided below we will confirm what personal information we hold about you, update your information, remove your information, fulfil specific opt-out requests (including requests where you previously opted in with respect to the use of your personal information), and/or correct any inaccuracies in such personal information.
            <br />
            <br />If you would like to unsubscribe from Gordon’s communications, or from all communications about Diageo brands, please contact: <a href="mailto:gordons@diageo.com">gordons@diageo.com</a></p>
        <p><span><strong>11. Portfolio permissions</strong><br /></span></p>
        <p>If you have given permission to receive communications about Diageo brands generally (for example, by opting to receive news and special offers by email about Diageo’s other great alcohol brands), you may from time to time receive communications about brands to which you have not opted in specifically. Information about many of Diageo’s brands can be found at <a href="http://www.diageobrands.com/" target="_blank">www.diageobrands.com</a>.
            <br />
            <br />We occasionally may send you communications about brands not featured on <a href="http://www.diageobrands.com/" target="_blank">www.diageobrands.com</a>(e.g., new brands). We recommend that you refer to <a href="http://www.diageobrands.com/" target="_blank">www.diageobrands.com</a> from time to time as the list of featured brands will be updated periodically.
            <br />
            <br />Providing general permission for us to communicate with you about our brands does not mean that you will receive communications about all of Diageo’s brands. We will only communicate with you about those brands that we think may be of particular interest to you. Any such communications will provide you with an opportunity to unsubscribe from the brand in question and/or from all communications about Diageo brands.
            <br />
            <br />If you have any privacy-related questions, concerns or complaints, please contact: Data Privacy Officer, Corporate Centre Legal Team, Diageo plc, Lakeside Drive, London, NW10 7HQ, United Kingdom.</p>
        <p><span><strong>12. Interfaces with Third-Party Websites</strong><br /></span></p>
        <p>The site may contain links, references, and content from other websites outside of our control. Please be aware that we have limited or no control over these websites and our Privacy and Cookie Notice does not apply to these sites. We encourage you to read the Privacy and Cookie Notices and terms and conditions of any linked, referenced, or interfacing websites you enter.
            <br />
            <br />This Privacy and Cookie Notice will be supplemented by additional legal requirements in jurisdictions where we conduct business as required. Nothing in this Privacy and Cookie Notice or otherwise will create, or add to, any right or claim (whether legal, equitable, or otherwise) that any individual or person may have at law or otherwise against the company or any third party, or any of their respective directors, officers, employees, agents, or representatives (collectively the “Diageo Group”), nor will the existence of this Privacy and Cookie Notice or its application impose or add to any obligations upon or create any liability for the Diageo Group that it does not already otherwise have under law.
            <br />
            <br />Diageo GB, with company number 23307 registered at Lakeside Drive, Park Royal, London NW10 7HQ, United Kingdom. All rights reserved.
            <br />
            <br />Version 9.3 dated [19 September 2011]</p>
    </div>
</div>
