<div class="std_content" id="infoPage">
    <h1>WEBSITE TERMS & CONDITIONS OF USE</h1>
    <p>Effective Date: 19 September 2011</p>
    <p>Any use by you of the website operated by Diageo GB at <a href="/">www.gordons-gin.co.uk</a> (the “Site”) is conditional upon your acceptance of these Website Terms &amp; Conditions of Use, including our <a href="privacy-cookies-notice.html" title="Privacy &amp; Cookies Notice">Privacy and Cookie Notice</a> (collectively, “Terms &amp; Conditions”). We reserve the right to amend these Terms &amp; Conditions from time to time without notice and at our discretion. It is your responsibility to review this page periodically for updates, which shall come into effect when posted. (See the box below for a summary of updates.) Your continued use of the Site constitutes acceptance of these Terms &amp; Conditions. We reserve the right to change, modify, suspend, or discontinue any portion, features, or content of the Site at any time. We also may impose limits on certain features or restrict your access to parts of or the entire Site without notice or liability. The Site is operated by a member of the Diageo group of companies, the ultimate holding company of which is Diageo plc (registered in England and Wales with company number 23307 and registered address at Lakeside Drive, Parke Royal, London NW10 7HQ, United Kingdom).</p>
    <p>The Site is intended for your use only if you are of legal age to purchase alcohol in your country of residence and in the country from which you are accessing the Site. If you do not fall within this category, you may be in breach of laws or regulations applicable in your country of residence or access, and you should leave the Site immediately.</p>
    <p>You may restrict access to this site using content filtering software or by changing your computer settings (e.g. browser or operating system), as appropriate.</p>
    <p>IF YOU DO NOT ACCEPT THESE TERMS &amp; CONDITIONS IN THEIR ENTIRETY PLEASE LEAVE THE SITE NOW.</p>
    <p>All references to 'our', 'us', 'we', or ‘company’ within these Terms &amp; Conditions are deemed to refer to Diageo plc, its subsidiaries, affiliates and associates.</p>
    <h2><br />1. Rights</h2>
    <p>All rights in all material and content (including, but not limited to, text, images, web pages, sounds, software (including code, interface, and website structure), and video, and the look and feel, design, and compilation thereof) on the Site are owned or licensed by us. You agree that you are permitted to use this material and/or content only as set forth in and to the extent permitted by these Terms &amp; Conditions.</p>
    <h2><br />2. Intellectual Property</h2>
    <p>Unless otherwise indicated, we are the owner and/or authorised user of all trademarks, service marks, design marks, trade dress, patents, copyrights, database rights and other intellectual property (collectively, the “Intellectual Property”) appearing on or contained within the Site. Except as provided in these Terms &amp; Conditions, your use of the Site does not grant you any right, title, interest, or license to any such Intellectual Property you may access on the Site. Except as provided in these Terms &amp; Conditions, any use or reproduction of the Intellectual Property is prohibited.</p>
    <h2><br />3. Restrictions on Use</h2>
    <p>Except as expressly authorized by law, by us, or by the applicable licensor in writing, you are not entitled to reproduce, transmit, license, sell, publicly perform, distribute, adapt, translate, modify, bundle, merge, share, or otherwise make available to any person, or to create derivative works of, any or all of the materials or content available on the Site, or to use it for commercial purposes</p>
    <h2><br />4. Terms of Use and Acceptable Usage Policy Relating To Public Forums</h2>
    <p>The Site may contain interactive services, including but not limited to discussion groups, news groups, bulletin boards, chat rooms, blogs and other social networking features, such as the display of Linked Content from Interfacing Sites (as described in Section 5 below) (collectively, “Public Forums”), which may allow you to post, transmit or submit information, including but not limited to writings, images, illustrations, audio recordings, and video recordings (“Postings”). We may or may not actively monitor Postings on Public Forums. Similarly, we may or may not exercise editorial control over Postings on any Public Forum. You may be exposed to content on Public Forums that is inaccurate, fraudulent or deceptive, or that you find offensive or objectionable. Your use of Public Forums is at your own risk.</p>
    <p>We reserve the right, but are not obliged, to monitor Public Forums and to remove or alter any Postings that we consider, in our sole discretion, to constitute misuse of these rules. We may restrict, suspend or terminate your use of these services or the Site where, in our sole discretion, we believe that there may have been such a misuse.</p>
    <p>The following examples constitute misuse of the Site:</p>
    <ul>
        <li>using the Site for any improper, unlawful, or immoral purpose,</li>
        <li>causing any nuisance by your use of the Site or causing the operation of the Site to be jeopardised or impaired;</li>
        <li>using the Site to create, host, or transmit (whether in a Public Forum or otherwise) any defamatory, offensive, or obscene material, or engaging in activities which would cause offence to others on grounds of race, religion, creed, or sex;</li>
        <li>using the Site to harm or attempt to harm minors in any way;</li>
        <li>using the Site to create, host, or transmit any material that threatens or encourages bodily harm or the destruction of property, or would constitute a criminal offence or give rise to civil liability;</li>
        <li>using the Site to create, host, or transmit material which infringes the copyright, trademark, patent, trade secret, privacy, right of publicity, or other intellectual property or proprietary rights of any other party;</li>
        <li>using the Site to create, host, or transmit unsolicited advertising material to other users;</li>
        <li>using the Site to create, host, or transmit any material that harasses another;</li>
        <li>using the Site to make false, misleading, deceptive, or fraudulent offers to sell or buy products, items, or services, or to send chain letters or pyramid schemes or the like;</li>
        <li>adding, removing, or modifying identifying network header information or copyright management information, including author names, publication dates, or clearance agency names, in an effort to deceive or mislead;</li>
        <li>using the Site to access, or to attempt to access, the accounts of others or to penetrate or attempt to penetrate our or a third party's security measures, computer software, hardware, electronic communication systems, or telecommunications systems;</li>
        <li>using the Site to collect, or attempt to collect, personal information about third parties without their knowledge or consent, or to engage in "screen scraping," "database scraping," or any other activity with the purpose of obtaining lists of users or other data;</li>
        <li>using the Site for any activity which adversely affects the ability of other people or systems to use the services or the Internet generally, including, without limitation, flooding and hacking;</li>
        <li>reselling, repurposing, or redistributing any Intellectual Property provided by us our contractors or our licensees without our prior written consent; or impersonating any person or entity or using a false name that you are not authorised to use;</li>
        <li>encouraging, condoning, or glamorising under-age drinking, drunk-driving, or excessive consumption of alcoholic beverages;</li>
        <li>disclosing any personally identifiable information about yourself or any other party (e.g. telephone number, geographic address, or any other information from which an individual's identity or contact information can be derived); and</li>
        <li>violation of the terms of use associated with an Interfacing Site.</li>
    </ul>
    <p>This list only serves to provide examples and is not meant to be an exhaustive list of the type of unacceptable uses of the Site or Public Forums that may result in the restriction, suspension, or termination of your use of the Site or Public Forums. Due to the global nature of the Internet, users hereby agree to comply with all local rules regarding online conduct and acceptable content. Users also agree to comply with any applicable rules regarding the export of any data from any country.</p>
    <p>Any Postings you make will be deemed not to be confidential or secret. You understand that personal and other information (e.g., username, email address, phone number) that you post on or through Public Forums is generally accessible to, and may be collected and used by, others and may result in unsolicited messages or other contact from others. You should not include any personally identifiable information about yourself or any other person in any Postings. We reserve the right, but not the obligation, to remove any Postings that contain personally identifiable information. We shall not be liable for the use or misuse of any information or data, including personal information, that you post on our Public Forums.</p>
    <p>You represent and warrant that your Postings are original to you, do not infringe on another party’s intellectual property rights, are not obscene, vulgar, offensive, malicious, discriminatory, defamatory, or otherwise unlawful, that no other party has any rights thereto, and that any “moral rights” in your Postings have been waived, and you grant us a royalty-free, unrestricted, worldwide, perpetual, irrevocable, non-exclusive, and fully transferable, assignable, and sub-licensable right and license to use, copy, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, perform, and display such Postings (in whole or part) and/or to incorporate them in other works in any form, media, or technology now known or later developed for any editorial, commercial, non-commercial, promotional, or other purpose.</p>
    <p>We are not responsible for maintaining your Postings and we may delete or destroy them at any time.</p>
    <p>CONTENT, INFORMATION, AND MATERIALS POSTED BY USERS TO PUBLIC FORUMS ARE NOT ENDORSED BY US. IT IS YOUR RESPONSIBILITY TO EVALUATE AND CONFIRM THE ACCURACY OF INFORMATION PROVIDED BY OTHER USERS ON OR THROUGH PUBLIC FORUMS. The opinions expressed in Public Forums are not necessarily ours. Any statements, advice, and opinions made by participants are those of such participants only. We shall not be held responsible for any statements, advice, opinions, or other content or materials on Public Forums. You release us from all claims and demands of every kind and nature, known and unknown, howsoever arising out of or in any way connected with a dispute with another user of the Site.</p>
    <h2><span><br />5. Interfacing Sites</span></h2>
    <p>You acknowledge and agree that we have no responsibility for the content (“Linked Content”) hosted by unaffiliated websites (“Interfacing Sites”) to which you or we may link from the Site, or otherwise display on the Site via an application programming interface or other method.</p>
    <p>We do not host or store Linked Content.  The display of Linked Content or the provision of links to Interfacing Sites does not constitute an endorsement by or association with us of such Linked Content, Interfacing Sites, or products, advertising, or other materials presented on such sites. You acknowledge and agree that we are not responsible or liable, directly or indirectly, for any damage, loss, or cost caused or alleged to be caused by or in connection with your use of or reliance on any such content, goods, or services available on such Interfacing Sites, or for any action taken by Interfacing Sites.</p>
    <p>We reserve the right to remove Linked Content from our Site or Interfacing Sites, to the extent we have such control, at any time, and for any reason, including violation of these Terms &amp; Conditions or the applicable terms of use on the Interfacing Site.</p>
    <p>To utilize some of the functionality of the Site you may be required to establish an account with a username and password with Interfacing Sites.  As these are unaffiliated sites, we are not responsible for any username, password, or other information these sites may collect. We also will never ask you to provide us with your password for Interfacing Sites.  If you are unable to establish accounts on these Interfacing Sites for any reason, you may not be able to fully utilize the functionality provided by the Site.</p>
    <p>In addition to these Terms &amp; Conditions, the Linked Content that is displayed on our Site, including your rights relating thereto, are subject to the applicable terms of use as set forth by the Interfacing Website.</p>
    <h2><br />6. Materials submitted by you</h2>
    <p>Unless specifically requested, we do not solicit nor do we wish to receive any confidential, secret, or proprietary information or other material from you through the Site or any of its services, by email or in any other way. Any information or material you submit that has not expressly been requested by us will be deemed not to be confidential, secret, or proprietary. You agree that any information or materials you submit to the Site, whether ideas, creative concepts or other materials, in any format (including, but not limited to, writings, images, illustrations, audio recordings, and video recordings), may be used, reproduced and disclosed by us without restriction for whatever purpose we deem fit and without payment of any sum or acknowledgement of you as their source. You also warrant that any “moral rights” in posted materials have been irrevocably waived by the appropriate authors. WE SHALL HAVE NO LIABILITY FOR ANY LOSS OR DAMAGE SUFFERED BY YOU AS A RESULT OF USE OR DISCLOSURE OF SUCH MATERIALS BY US TO THE EXTENT PERMITTED BY LAW. This paragraph does not affect any rights you may have under data privacy laws that protect your personal information or similar privacy laws, to the extent that such rights cannot be waived or excluded.</p>
    <h2><br />7. Accounts and Security</h2>
    <p>We may enable you to establish an account with a username and password to access and use certain areas of the Site, Public Forums, and other services.  You may not create an account unless you are of legal age to purchase alcohol in your country of residence and in the country in which you are accessing the Site.  You shall provide us with accurate account information.  You are responsible for maintaining the strict confidentiality of your account password, and you are responsible for any activity using your account and password. You agree to (a) immediately notify us of any unauthorised use of your password or account or any other breach of security, and (b) ensure that you exit from your account at the end of each session. It is your sole responsibility to control the dissemination and use of your password, control access to and use of your account, and notify us when you desire to cancel your account. We will not be responsible or liable for any loss or damage arising from your failure to comply with this provision.</p>
    <h2><br />8. NO WARRANTIES</h2>
    <p>THE SITE IS PROVIDED “AS IS,” AND YOUR USE THEREOF IS AT YOUR OWN RISK. WE AND OUR OFFICERS, DIRECTORS, EMPLOYEES, AGENTS AND ASSIGNS DISCLAIM, TO THE FULLEST EXTENT PERMITTED BY LAW, ANY AND ALL EXPRESS AND IMPLIED WARRANTIES, INCLUDING, WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, PERFORMANCE, TITLE, AND NON-INFRINGEMENT. WE DO NOT WARRANT THAT THE SITE WILL BE FREE FROM VIRUSES, AVAILABLE, ACCESSIBLE, ERROR-FREE, UNINTERRUPTED, OR THAT THE CONTENTS WILL BE ACCURATE. ALTHOUGH WE TAKE REASONABLE STEPS TO SECURE THE SITE, YOU ACKNOWLEDGE THAT THE INTERNET IS NOT A COMPLETELY SECURE MEDIUM AND WE MAKE NO WARRANTIES, EXPRESS OR IMPLIED, THAT ANY INFORMATION OR MATERIALS YOU POST ON OR TRANSMIT THROUGH THE SITE WILL BE SAFE FROM UNAUTHORISED ACCESS OR USE. IF YOU ARE DISSATISFIED WITH THE SITE, YOUR SOLE REMEDY IS AND SHALL BE TO DISCONTINUE USING THE SITE.</p>
    <h2><br />9. THIRD PARTY GOODS AND SERVICES</h2>
    <p>WE DO NOT VOUCH FOR THOSE PERSONS, COMPANIES, AND OTHER ORGANISATIONS WHOSE GOODS OR SERVICES MAY BE ACCESSED OR DISPLAYED THROUGH OR ON THE SITE.</p>
    <h2><br />10. Your responsibility</h2>
    <p>You should always verify any information set forth on the Site with independent authorities before acting or relying on it. It is your responsibility to use virus-checking software on any material downloaded from the Site and to ensure the compatibility of such software with your equipment.</p>
    <p>In circumstances where you provide us with information relating to any third parties, you warrant that you have received that third party’s consent for such disclosure and that the third party has been informed of, and agrees to, our Privacy and Cookie Notice and any uses we may make of such information.</p>
    <h2><br />11. NO LIABILITY</h2>
    <p>TO THE FULLEST EXTENT PERMITTED BY LAW WE AND OUR OFFICERS, DIRECTORS, EMPLOYEES, AGENTS AND ASSIGNS HEREBY DISCLAIM ANY AND ALL LIABILITY FOR ANY LOSS, COST OR DAMAGE (DIRECT, INDIRECT, CONSEQUENTIAL, OR OTHERWISE) SUFFERED BY YOU AS A RESULT OF YOUR USE OF THE SITE OR FROM ANY COMPUTER VIRUS TRANSMITTED THROUGH THE SITE, OR OTHER SITES ACCESSED FROM THE SITE, REGARDLESS OF WHETHER SUCH LOSS, COST OR DAMAGE ARISES FROM OUR NEGLIGENCE OR OTHERWISE, AND REGARDLESS OF WHETHER WE ARE OR HAVE BEEN EXPRESSLY INFORMED OF THE POSSIBILITY OF SUCH LOSS OR DAMAGE. IN NO EVENT SHALL OUR TOTAL LIABILITY TO YOU FOR ALL DAMAGES, COSTS, LOSSES AND CAUSES OF ACTION IN THE AGGREGATE (WHETHER IN CONTRACT, TORT, INCLUDING, BUT NOT LIMITED TO, NEGLIGENCE, STRICT LIABILITY OR PRODUCT LIABILITY) ARISING FROM YOUR USE OF THE SITE EXCEED, IN THE AGGREGATE, £100.00 (GB).</p>
    <h2><span><br />12. User Information</span></h2>
    <p>In the course of your use of the Site, you may be asked to provide personal information to us (such information referred to hereinafter as “User Information”). Our information collection and use policies with respect to such User Information are set forth in the <a href="privacy-cookies-notice.html" title="Privacy &amp; Cookies Notice">Privacy and Cookie Notice</a>. You acknowledge and agree that you are solely responsible for the accuracy and content of the User Information.</p>
    <h2><br />13. Indemnity</h2>
    <p>You hereby indemnify us and our officers, directors, agents, employees, and representatives against any loss, damage, or cost arising out of your use of the Site, any of its services, or any information accessible over or through the Site, including information obtained from Interfacing Sites, your submission or transmission of information or material on or through the Site or Interfacing Sites, or your violation of these Terms &amp; Conditions, the terms of use of Interfacing Sites, or any other laws, regulations, and rules. You also hereby indemnify us and our officers, directors, agents, employees, and representatives against any claims that any information or material you have submitted or will submit to us is in violation of any law or in breach of any third party rights (including, but not limited to, claims in respect of defamation, invasion of privacy, breach of confidence, infringement of copyright, or infringement or violation of any other intellectual property right). We reserve the right to exclusively defend and control any claims arising from the above and any such indemnification matters, and you hereby agree to cooperate fully with us in any such defenses.</p>
    <h2><br />14. Restriction, Suspension and Termination</h2>
    <p>We may restrict, suspend, or terminate your access to the Site and/or your ability to avail of any of the services on the Site, including interactive services, at any time if we believe that you have breached these Terms &amp; Conditions. Any such restriction, suspension, or termination will be without prejudice to any rights that we may have against you in respect of your breach of these Terms &amp; Conditions. We may also remove the Site as a whole or any sections or features of the Site at any time. Please note that we have the ability to trace your IP address and if necessary contact your internet service provider in the event of a suspected breach of these Terms &amp; Conditions.</p>
    <h2><br />15. Entire Agreement</h2>
    <p>These Terms &amp; Conditions, including our Privacy Statement, constitute the entire agreement between you and us in relation to its subject matter and supersedes any and all prior promises, representations, agreements, statements, and understandings of any sort whatsoever between us. To the extent that software is available through the Site, such software may be subject to a license agreement that is distributed or included with such software, and you agree to abide by the terms and conditions of any such license agreements. Our failure to exercise or enforce any right or provision of the Terms &amp; Conditions shall not constitute a waiver of such right or provision. If any provision of the Terms &amp; Conditions is found by a court of competent jurisdiction to be unenforceable or invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties’ intentions as reflected in that provision, and the other provisions of the Terms &amp; Conditions shall remain in full force and effect. We may, at our option, cede, assign, or otherwise transfer any or all of our rights and obligations under the Terms &amp; Conditions to any third party or parties at any time.</p>
    <h2><br />16. Copyright And IP Agent for the United States</h2>
    <p>We respect the intellectual property rights of others, and require that the people who use the Site do the same. If you believe that your work has been copied in a way that constitutes copyright infringement, please forward the following information to the Copyright Agent named below:</p>
    <p>Your address, telephone number, and email address;</p>
    <p>A description of the copyrighted work that you claim has been infringed;</p>
    <p>A description of the alleged infringing activity and where the alleged infringing material is located;</p>
    <p>A statement by you that you have a good faith belief that the disputed use is not authorised by you, the copyright owner, its agent, or the law;</p>
    <p>An electronic or physical signature of the person authorised to act on behalf of the owner of the copyright interest; and</p>
    <p>A statement by you, made under penalty of perjury, that the above information in your Notice is accurate and that you are the copyright owner or authorised to act on the copyright owner's behalf.</p>
    <p>Copyright Agent:
        <br />Diageo North America, Inc., 801 Main Avenue, Norwalk, CT 06851. Attn: Evan Gourvitz, Sr. Counsel Litigation, Intellectual Property, Telephone No: 01 203 2294264, Facsimile No: 203-229-8925, Email: <a href="mailto:copyright@diageo.com">copyright@diageo.com</a>.</p>
    <p>We may not be able to remove Linked Content that is hosted by Interfacing Sites. You may need to contact the appropriate Interfacing Site for removal of your work</p>
    <h2><br />17.  Export Controls</h2>
    <p>To the extent that software or technical data is accessible through the Site, such software or technical data may be subject to export, re-export, and/or import controls imposed by the United States or any other jurisdiction, and may not be downloaded or otherwise exported or re-exported in violation of the laws of any applicable jurisdiction including, but not limited to: (a) into (or to a national or resident of) any country to which the U.S. has placed an embargo or which is subject to relevant export restrictions; (b) anyone on the U.S. Treasury Department's Specially Designated Nationals list, or (c) in violation of the U.S. Commerce Department's Table of Denial Orders.</p>
    <h2><br />18. Law and Jurisdiction</h2>
    <p>These Terms &amp; Conditions, including the Privacy Statement and any matter relating to the Site, shall be governed by the laws of England and Wales without regard to its conflict of law rules.  Any legal proceeding arising out of or relating to these Terms &amp; Conditions that is against or relating to us or any indemnified party will be subject to the exclusive jurisdiction of the Courts of England and Wales, and you hereby irrevocably consent to the jurisdiction of such courts.</p>
    <p>Diageo GB, with company number 23307 registered at Lakeside drive, Park Royal, London, NW10 7HQ, United Kingdom. All rights reserved.</p>
    <p>Version 9.3 dated [19 September 2011]</p>
</div>
