
/******** About Page Styles ***********/


/* About  default  Styles */

#rhs .lng_content .panel{margin-bottom:10px; background:#fff; overflow:hidden;}
#rhs .lng_content .panel .text{padding:16px 20px 2px 20px;}
#rhs .lng_content .panel .col_1{float:left; width:284px;}
#rhs .lng_content .panel .col_2{float:right; width:315px;}
	
#rhs .lng_content .panel h2{font-size:1.714em; color:#333; text-transform:uppercase;
		border-bottom:1px solid #e5e5e5; padding-bottom:0.15em; margin-bottom:0.25em;}			
#rhs .lng_content .panel h2 a{text-decoration:none; color:#006335;}
#rhs .lng_content .panel h2 a:hover{color:#333;}
	
#rhs .lng_content .panel{}
#rhs .lng_content .panel .year{clear:both;}
#rhs .lng_content .panel .year p{float:right; width:525px;}
#rhs .lng_content .panel .year p.date{float:left; width:95px; display:inline; margin-right:10px;
		font-family: "TradeGothicW01-BoldCn20_675334", Arial, sans-serif; font-size:1.714em; color:#006335; }
	
/* About & Collection Styles */

.about #rhs .lng_content .panel h2{margin-bottom:0.75em;}
.about #rhs .lng_content .collection{background-position:right bottom; background-repeat:no-repeat;}
.about #rhs .lng_content .collection .text{padding:10px 0 2px 20px; float:left; width:530px;}
.about #rhs .lng_content .collection h2{font-size:2.143em; padding-bottom:0.05em; margin-bottom:0.4em;}

/* Calendar */

.calendar #rhs .lng_content{width:680px; margin-right:0;}
.calendar #rhs .lng_content .panel{width:316px; height:70px; padding:7px; float:left; display:inline; margin-right:10px;
		font-family:"Trebuchet MS", Arial, sans-serif; font-size:1.071em;}
.calendar #rhs .lng_content a.panel{text-decoration:none;}
.calendar #rhs .lng_content .panel .date{float:left; width:58px; height:50px; margin-top:10px; border-right:1px solid #ccc;
		color:#666; text-align:center; text-transform:uppercase;}
#calendar.lng_content .panel .date .month{display:block; line-height:1; font-size:1.2em; margin-top:-2px;}
#calendar.lng_content .panel .date .day{display:block; line-height:1; font-size:2.33em;}
.calendar #rhs .lng_content .panel .text{float:left; width:134px; display:inline; margin:7px 0 0 10px; padding:0;
		text-transform:uppercase; line-height:1.2;}
.calendar #rhs .lng_content .panel .text.noimage {width:244px;}
.calendar #rhs .lng_content .panel .text a{text-decoration:none;}
.calendar #rhs .lng_content .panel .text a:hover{color:#333;}	
.calendar #rhs lng_content .panel .text a img {display: inline; margin-bottom:5px; padding: 2px 0 0 0; vertical-align: middle;}
.ie6 .calendar #rhs .lng_content .panel .text a img,
.ie7 .calendar #rhs .lng_content .panel .text a img{padding-top:3px;}
.calendar #rhs .lng_content .panel .thumb{float:right;}
