html,
body,
body > form {
   margin:0;
   padding:0;
   height:100%;
   background:#fff;
}
body > form{background:none;}
.ie6 html {overflow-y:hidden;}
.ie6 body {overflow-y:auto;}

#container{position:relative; min-height:100%; min-width:986px;}
.ie6 #container{height:100%; width: expression((document.body.clientWidth < 988)? "986px" : "auto");}
	
	#bg_container{}
	#bg_container img{display:none;}	
	#bg_container img.bg {
			min-height: 100%;		
			min-width: 100%; /* min-width: 1024px; */
			width: auto;     /* width: 100% */
			height: auto;
			position: fixed;		
			top: 60px;
			left: 0;
	}	
	#bg_container img#current_bg{ display:none; }
	.ie6 #bg_container img.bg{
		width: 100%;
		position:absolute;	
	}
	

#header{height:79px; width:100%; min-width:986px; background:#fff; position:fixed; z-index:1040; top:0; background:#fff; padding-top:1px;}
.ie6 #header{position:absolute; width: expression((document.body.clientWidth < 988)? "986px" : "auto");}
#main{padding:80px 0 55px;}
	#content{z-index:1010; position:relative; }	
	.ie6 #content{zoom:1;}
	#content.moire{background:url(../images/bg-overlay-tile.png) repeat;}
	#content.overlay{	
		background-color: #000000;
		background-color: rgba(0, 0, 0, 0.4);  /* FF3+, Saf3+, Opera 10.10+, Chrome, IE9 */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#66000000',EndColorStr='#66000000'); /* IE6–IE9 */
	}
	
#footer{height:55px; width:100%; background:#fff; position:absolute; bottom:0; background:#fff;}

/* Persistent styles */
	#logo{float:left; display:inline; margin-right:9px;}
	#nav{float:left; font-size:1.286em; text-transform:uppercase; line-height:1; padding-top:30px; font-family:"TradeGothicW01-BoldCn20_675334", Arial, sans-serif;}
		#nav li{float:left; display:inline; margin-right:15px;}
		#nav li a{text-decoration:none;}
		#nav li a:hover,
		#nav li a.active{color:#333;}
		
	.search_form{float:right; display:inline; margin-right:26px; padding-top:25px; _width:159px;}
		.search_form input.searchText{float:left; border:none; outline:none; width:120px; height:18px; line-height:18px; padding:4px 4px 3px 10px;
			font-size:12px; color:#ababab; font-family: "Trebuchet MS", sans-serif; 
			background:#f2f2f2;}	
		.search_form input.searchBtn{float:left; width:25px;}	
	
	#content{}
	#content h1{font-size:2.571em; margin-bottom:0.28em; font-family:"TradeGothicW01-BoldCn20_675334", Arial, sans-serif; text-transform:uppercase;
	letter-spacing:-1.2px; line-height:1.1;}
	#content h2{font-size:1.71em; font-family:"TradeGothicW01-BoldCn20_675334", Arial, sans-serif; text-transform:uppercase;}
	#content h3{font-size:1em; font-weight:bold; margin-bottom:1.286em;}
	#content p{margin-bottom:1.286em;}	
	#content ul{margin-bottom:1.286em;}
	#content ul li{padding-left:16px; background:url(../images/bullet.gif) left top no-repeat; background-position: 0em .6em; }
	
	
	#footer{font-size:0.786em; font-family:"Trade Gothic W01 Roman", "Trebuchet MS", sans-serif; z-index:9030;}
		#foot_nav{margin:5px 0 0 12px;}
		.ie6 #foot_nav,
		.ie7 #foot_nav,
		.ie8 #foot_nav{zoom:1;}
		#foot_nav li{float:left; padding:0 8px; line-height:20px; 
			background:url(../images/foot-div.gif) right center no-repeat; }
		#foot_nav li img{vertical-align:middle;}
		#foot_nav li.last{background:none; padding-right:0;}
		#foot_nav li a{color:#666; text-decoration:none;}
		#foot_nav li a:hover{color:#000;}
		
		#foot_overlay{position:absolute; right:0; top:-78px; z-index:9999;}
		
		#footer small{
			position:absolute; top:27px; left:0;
			display:block; clear:both; padding-top:4px; margin:0 0 0 20px; color:#666;}
			
#footer .littleCopy 
{position:absolute; top:27px; left:0;display:block; clear:both; padding-top:4px; margin:0 0 0 20px; color:#666;}

/* Slideshow */
	
		
	
		


/* Right-hand side common elements */
