/* Long Content Page Layout */
#rhs .lng_content{float:right; display:inline; width:670px; margin-right:10px; padding-bottom:90px;}
#rhs .lng_content h3{margin-bottom:0.15em;}

	/* Long Content panels */
	
	