

/* Right side content Styles */

#rhs{float:right; width:700px;}

	#rhs .floatImgRight{float:right; margin:0 0 0 10px;}
	#rhs .floatImgLeft{float:left; margin:0 10px 0 0;}
	
	#rhs a.external{padding-right:10px; background:url(../images/icn-external.gif) right center no-repeat;}
	/*#rhs a.text_link{padding-right:19px; background:url(../images/arrow-right.gif) right 4px no-repeat;}*/
	#rhs a.text_link{padding-right:19px; background:url(../images/arrow-right.gif) right 4px no-repeat; white-space:nowrap; }
    .ie6 #rhs a.text_link,.ie7 #rhs a.text_link{zoom:1;}
	#rhs a.text_link:hover{background-position:right -29px;}

	#rhs .intro{width:700px; margin:38px 0 20px; background:#fff; overflow:hidden;}
	#rhs .intro_tight{margin-bottom:10px;}
		#rhs .intro .text{padding:12px 20px 2px;}
		#rhs .intro .img{float:left; width:480px;}	
		#rhs .intro p{line-height:1.428;}
		#rhs .intro img.thumb{float:right; width:190px;}		
		#rhs .intro .floatImgRight{float:right; margin:-5px 0 5px 10px;}
		#rhs .intro .nav_strip{margin-top:-0.5em;}
		#rhs .intro span.decorative{font-size:3em; float:left; line-height:1; margin:-1px 5px 0 0; display:inline;}
		
	#rhs .nav_strip{border-bottom:1px solid #e5e5e5; padding-bottom:1em; margin-bottom:1.2em; width:100%; overflow:hidden;}	
		#rhs .nav_strip ul.categories{font-family:"Trebuchet MS", sans-serif; font-size:0.857em; margin-bottom:0; float:left;}
		#rhs .nav_strip ul.categories li{float:left; font-weight:bold; text-transform:uppercase; padding:0 11px 0 0; color:#666;
			background:url(../images/cat-div.gif) right center no-repeat;}
		#rhs .nav_strip ul.categories li.last{background:none; padding-right:0;}
		#rhs .nav_strip ul.categories li a{text-decoration:none;}
		#rhs .nav_strip ul.categories li a:hover{color:#333;}		
		#rhs .nav_strip .prev_next{float:right; font-family:"Trebuchet MS", sans-serif; font-size:0.857em; font-weight:bold; text-transform:uppercase;}
		#rhs .nav_strip .prev_next a{color:#006335; float:left; display:inline; text-decoration:none;}
		#rhs .nav_strip .prev_next a:hover{color:#333;}
		#rhs .nav_strip .prev_next a.prev{padding-left:17px; margin-right:7px; background:url(../images/arrow-left.gif) left 2px no-repeat;}
		#rhs .nav_strip .prev_next a.next{padding-right:17px; margin-left:8px; background:url(../images/arrow-right.gif) right 2px no-repeat;}	
		
		.ie6 #rhs .nav_strip .prev_next a.prev,
		.ie7 #rhs .nav_strip .prev_next a.prev{ background-position:left 1px;}
		.ie6 #rhs .nav_strip .prev_next a.next,
		.ie7 #rhs .nav_strip .prev_next a.next{ background-position:right 1px;}
			
		#rhs .nav_strip .prev_next a.prev:hover{background-position:left -31px;}
		#rhs .nav_strip .prev_next a.next:hover{background-position:right -31px;}
		
		.ie6 #rhs .nav_strip .prev_next a.prev:hover,
		.ie7 #rhs .nav_strip .prev_next a.prev:hover{ background-position:left -32px;}
		.ie6 #rhs .nav_strip .prev_next a.next:hover,
		.ie7 #rhs .nav_strip .prev_next a.next:hover{ background-position:right -32px;}
		
		
	#rhs .page_functions{border-top:1px solid #e5e5e5; padding-top:1em; padding-bottom:18px; clear:both;}	
		#rhs .page_functions ul.functions{float:left; margin-bottom:0; font-size:0.785em;}
		#rhs .page_functions ul.functions li{float:left; padding-left:0; background:none; margin-right:15px; display:inline; height:25px; line-height:25px;}
		#rhs .page_functions ul.functions li a{padding-left:21px; text-decoration:none; cursor:pointer;
			background:url(../images/icn-functions.gif) left top no-repeat;  float:left; height: 21px;}
		#rhs .page_functions ul.functions li a:hover{color:#333;}
		#rhs .page_functions ul.functions li a.print{background-position:left 2px;}
		#rhs .page_functions ul.functions li a.pdf{background-position:left -48px;}		
		#rhs .page_functions a.go_back{float:right; padding-left:16px; background:url(../images/arrow-left.gif) left 6px no-repeat;
			 font-size:1.286em; text-transform:uppercase; color:#006335; text-decoration:none; font-family:"TradeGothicW01-BoldCn20_675334", sans-serif;}
		#rhs .page_functions a.go_back:hover{color:#333; background-position:left -27px;}	

	