
/******** Short Content Page Styles ***********/


#rhs .std_content{padding:12px 20px 2px; margin-top:40px; margin-bottom:90px; background:#fff;}
#rhs .std_content:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ie6 #rhs .std_content,
.ie7 #rhs .std_content{zoom:1;}

	#rhs .std_content h1{padding-top:0.1em; margin-bottom:0.05em;}	
	#rhs .std_content h2{font-size:1.714em; color:#333; text-transform:uppercase;
		border-bottom:1px solid #e5e5e5; padding-bottom:0.15em; margin-bottom:0.75em;}
		

	#rhs #infoPage h1{font-size:1.714em; color:#333; text-transform:uppercase;
		border-bottom:1px solid #e5e5e5; padding-bottom:0.15em; margin-bottom:0.75em;}
		/*
	#rhs #infoPage h2{font-size:1em; color:#333; 
	     padding-bottom:0.15em; margin-bottom:0.25em;}
		*/
    #rhs .std_content .recipe_content h2, #rhs #infoPage h2
	{
	    font-family: Georgia,Times New Roman,Times,serif;
	    font-size:1em; 
	    font-weight:bold;
	    margin: 0 0 1.286em 0;
	    border-bottom: none;
	    color: #000;
	    padding: 0;
	    text-transform: none;
    }
		
		
		
	#rhs .std_content .floatImgRight{float:right; margin:0 -5px 0 10px;}
	#rhs .std_content .floatImgLeft{float:left;}	
	
	#rhs .std_content .watch_video{margin-bottom: 0.5em; margin-left:217px; clear:both;}
	#rhs .std_content .watch_video img.thumb{float:left; display:inline; margin-right:12px; margin-top:0.3em;}
    #rhs .std_content .watch_video p{float:left; width:250px;}
    #rhs .std_content .watch_video p.title{float:left; width:260px; margin-bottom:0.1em; font-size: 1.714em; text-transform: uppercase;
    font-family: "TradeGothicW01-BoldCn20_675334",Arial,sans-serif;}
    #rhs .std_content .watch_video p.title a{text-decoration:none;}    
    #rhs .std_content .watch_video p.text_arrow img{vertical-align:middle;}

	
	/* transcript styles */
	#video_embed{}
		#video_transcript{border-bottom:1px solid #e5e5e5; margin-bottom:1.286em; display:none;}
	#rhs .std_content p.transcript_link{text-align:right; border-bottom:1px solid #e5e5e5; padding-bottom:1em; margin:0.5em 0 0.6em;}
	#rhs .std_content p.video_link{text-align:left; }
	#rhs .std_content p.video_link a.text_link{padding:0 0 0 19px; background: url(../images/arrow-left.gif) 0 4px no-repeat;}
	#rhs .std_content p.video_link a.text_link:hover{background-position:0 -29px;}

	/* recipes */
	#rhs .std_content .recipe_content .ingredients{float:left; width:212px; padding-left:5px; padding-right:5px; display:inline;}
	#rhs .std_content .recipe_content .ingredients .alcohol{margin-top:-1em; margin-left:16px; color:#999;}		
	#rhs .std_content .recipe_content .directions{float:left; width:423px;}		


	/* registration */
	.registration #rhs .std_content h1{margin-bottom:0.75em;}
	.registration #rhs .std_content h1.underline{padding-bottom:0.2em; margin-bottom:0.45em; border-bottom:1px solid #e5e5e5;}
	.registration #rhs .std_content p.mandatory{position:relative; text-align:right; margin:-3.5em 0 2.5em; font-size:0.857em; color:#777;}
	
	/* functional */
	.functional #rhs .std_content h3{margin-bottom:0.25em;}