	

/******** Slideshow Styles ***********/

#slide_controls{display:none;}
#prev_slide,
#next_slide{position:absolute; width:30px; height:50px; text-indent:-9999px; overflow:hidden; outline:none; top:45%;
			background:url(../images/slide-arrows.gif) 0 0 no-repeat;}
#prev_slide{left:0;}
#next_slide{right:0; background-position:0 -50px;}
		
#prev_slide:hover{background-position:-30px 0;}
#next_slide:hover{background-position:-30px -50px;}
		
#slide_pager{position:absolute; top:20px; left:20px;}
#slide_pager a{float:left; width:10px; height:10px; display:inline; margin-right:5px; text-indent:-9999px; overflow:hidden;
			background:url(../images/slide-indicator.png) 0 0 no-repeat; }
#slide_pager a.activeSlide{background-position:-10px 0;}
		
#slide_content{padding-bottom:90px; min-height:490px; min-height:380px;}
.ie6 #slide_content{height:380px;}
#slide_content .slide{display:none; }
#slide_content #current_slide{display:block;}	

		
	/* Slide content styling */	
#slide_content .slide{}
#slide_content .slide .panels{position:absolute; top:60%; left:0;}
#slide_content .slide .panels .intro{height:105px; width:438px; padding:15px 20px; margin:0 5px 0 0; float:left; display:inline;
			background:#fff;}
#slide_content .slide .panels .intro h1{color:#000; text-transform:none; font-weight:normal; margin-bottom:0; background:#fff;
			font-family:"SnellRoundhandW01-Bold", "Times New Roman", Times, serif; padding-bottom:5px;}
#slide_content .slide .panels .intro p{margin-bottom:0; line-height:1.428;}
#slide_content .slide .panels .teaser{height:125px; width:145px; padding:5px; margin:0 5px 0 0; float:left; display:inline; text-decoration:none;
			background:#fff;}
#slide_content .slide .panels .teaser img{display:block; margin-bottom:6px; }
#slide_content .slide .panels .teaser span{display:block; line-height:1.214; margin-bottom:0;  cursor:pointer;
			font-family:"Trebuchet MS", sans-serif; text-transform:uppercase; color:#006335; text-decoration:none;}		
#slide_content .slide .panels .teaser span img{display:inline; vertical-align:middle; padding:2px 0 0 3px; margin-bottom:5px;}	
.ie6 #slide_content .slide .panels .teaser span img,
.ie7 #slide_content .slide .panels .teaser span img{padding-top:3px;}
#slide_content .slide .panels .teaser:hover span{color:#333;}
		
/* floaters */

#slide_content .floater{position:absolute;}		
#slide_content .floater img{
			background: transparent;
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#00FFFFFF,EndColorStr=#00FFFFFF)";	
			filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#00FFFFFF',EndColorStr='#00FFFFFF');			
}	
	
/* Individual slide styling */	
#slide_content .homeslide_1 .floater{top:5%; right:21px;}
#slide_content .homeslide_2 .floater{top:22%; right:52px;}	
